<template>
  <div class="container">
    <div class="letter-box">
      <form action="" method="POST" class="fos_user_resetting_request">
        <div class="form-group">
          <label class="h3" for="username">Merci de votre inscription</label>
          <p>
            Un mail de confirmaion à été envoyé à <b>"{{email}}"</b>
          </p>
        </div>
        <div>
          <router-link class="btn btn-blue btn-shadow-blue" :to="{name: 'home'}">
            Retour à l'accueil
          </router-link>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts" src="./registerCheckEmail.component.ts"></script>