<template>
  <div class="container">
    <div class="letter-box">
      <p class="h3">
        Vérification
      </p>
      <p>
        Un e-mail a été envoyé à "<b>{{$route.query.email}}</b>". Il contient un lien sur lequel il vous faudra cliquer pour réinitialiser votre mot de passe. Si vous ne recevez pas un email, vérifiez votre dossier spam ou essayez à nouveau.
      </p>
      <p>
        <router-link class="btn btn-blue btn-shadow-blue" :to="{name: 'home'}">
          Retour à l'accueil
        </router-link>
      </p>
    </div>
  </div>
</template>

<script lang="ts" src="./resetCheckEmail.component.ts"></script>