<template>
  <div class="company">
    <playerVue :message="$route.meta.pageSentence" />
    <div class="page-header">
      <div class="container">
        <p>La compagnie <b>"{{company.name}}"</b> </p>
        <router-link class="btn btn-primary" :to="{ name: 'companies' }">
          <font-awesome-icon icon="arrow-left"/>
          Retour
        </router-link>
      </div>
      <br>
      <div class="clearfix"></div>
      <div class="container">
        <div class="col-sm-12 col-md-6">
          <form name="company_extend" method="post">
            <label class="control-label required" for="company_extend_typeDuration">Renouveler de : </label>
            {{company.pack.extention}} mois

            <div>
              Prix: <b><span id="price">{{company.pack.price_extention}}</span></b> €
            </div>

            <br/>
            <button class="btn btn-primary" type="submit">Etendre l'abonnement</button>
          </form>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</template>
<script lang="ts" src="./company_show.component.ts"></script>