<template>
  <div class="company padding-white">
    <playerVue :message="$route.meta.pageSentence" />

    <div class="page-header">
      <div class="container">
        <p><b>Nouveau groupe</b></p>
        <router-link class="btn btn-primary" :to="{name: 'companies' }">
          <font-awesome-icon icon="arrow-left"/>
          Retour
        </router-link>

        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div id="editor">
              <form name="company_register" method="post" class="" enctype="multipart/form-data" @submit="createCompany">
                <div id="editor">
                  <p class="h3 bubble">Titre<span>1</span></p>

                  <div class="row">
                    <div class="col-xs-4 col-sm-4">
                      <div class="form-group">
                        <label class="control-label required" for="name">Nom</label>
                        <input v-model="company.name" type="text" id="name" name="name" required="required" placeholder="Le nom du groupe" class="form-control">
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                      <div class="form-group">
                        <label class="control-label" for="logoFile">Logo (60x60)</label>
                        <input type="file" id="logoFile" name="logoFile">
                      </div>
                    </div>
                  </div>

                  <p class="h3 bubble">Type d'abonnement<span>2</span></p>
                  <div class="row">
                    <div id="company_pack" class="col-xs-12 col-md-12 col-lg-12">

                      <div class="packs-classic">
                        <span v-for="pack in packs" v-on:click="displayPackInformation(pack)">
                          <cardPackVue
                            v-if="pack.type == 'PAYANT'"
                            :selected="selected_pack.slug === pack.slug"
                            :pack="pack"
                            :create="false"
                            :user="user"
                            :key="pack.slug"
                          />
                        </span>

                      </div>

                    </div>
                  </div>
                </div>

                <p class="h3 bubble">Adresse de facturation<span>3</span></p>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label required" for="invoiceAddress">Adresse</label>
                      <input v-model="company.invoice_address" type="text" id="invoiceAddress" name="invoiceAddress" required="required" maxlength="50" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="control-label required" for="invoiceZipCode">Code postal</label>
                      <input v-model="company.invoice_zip_code" type="text" id="invoiceZipCode" name="invoiceZipCode" required="required" maxlength="10" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="control-label required" for="invoiceCity">Ville</label>
                      <input v-model="company.invoice_city" type="text" id="invoiceCity" name="invoiceCity" required="required" maxlength="20" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="i-invisible">
                  Prix: <b><span id="price">{{selected_pack.price}}</span></b> €
                </div>

                <br/>

                <button class="btn btn-blue btn-shadow-blue btn-post-add" type="submit">
                  Créer un nouveau groupe
                </button>
                <p class="h3 bubble"><span class="buble last">></span></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script lang="ts" src="./company_new.component.ts"></script>