<template>
  <div class="company">
    <playerVue :message="$route.meta.pageSentence" />

    <div class="page-header">
      <div class="container">
        <p>Voici toutes mes compagnies: </p>
      </div>
    </div>
    <section class="account">
      <div class="container">

        <table class="table table-bordered table-striped table-selection">
          <thead>
            <tr>
              <th class="">Titre</th>
              <th>Fin d'abonnement</th>
              <th>Maximum de personnes dans le groupe</th>
              <th>Factures</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="company in companies">
              <td>
                {{company.name}}
              </td>
              <td>
                {{displayDateYear(company.pack.end_date)}}
              </td>
              <td>
                {{company.pack.nb_max_users}}
              </td>
              <td>
                <span v-for="transaction in company.transaction">
                  <router-link v-if="transaction.invoice" :to="{name: 'invoice_download', params: {id: transaction.invoice.id}}">
                    <font-awesome-icon icon="cloud-download-alt"/>
                  </router-link>
                </span>
              </td>
              <td>
                <router-link class="btn btn-primary float-left" :to="{name: 'company_show', params: {slug: company.slug}}">
                  Renouveler
                  <font-awesome-icon icon="arrow-right"/>
                </router-link>
                <router-link class="btn btn-primary float-right" :to="{name: 'company_contributors', params: {slug: company.slug}}">
                  Gérer les contributeurs
                  <font-awesome-icon icon="arrow-right"/>
                </router-link>
              </td>
            </tr>
          </tbody>
        </table>

        <router-link class="btn btn-primary" :to="{ name: 'company_new' }">
          Créer une nouvelle compagnie
          <font-awesome-icon icon="arrow-right"/>
        </router-link>

      </div>
    </section>

  </div>
</template>

<script lang="ts" src="./company.component.ts"></script>