<template>
  <div class="company">
    <playerVue :message="$route.meta.pageSentence" />
    <div class="page-header">
      <div class="container">
        <p>La compagnie <b>"{{company.name}}"</b> </p>
        <router-link class="btn btn-primary" :to="{ name: 'companies' }">
          <font-awesome-icon icon="arrow-left"/>
          Retour
        </router-link>
      </div>
      <br>
      <div class="container">
        <p>
          Gestion des contributeurs :
          <small>
            Nombre de contributeurs
            {{company.users ? company.users.length : 0}}/{{company.pack ? company.pack.nb_max_users : 0}}
          </small>
        </p>
      </div>
    </div>
    <section class="account">
      <div class="container">

        <table class="table table-bordered table-striped table-selection">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Mail</th>
              <th>Statut</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
              <tr v-for="user in company.users" :id="'user_' + user.id">
                <td>
                  {{user.user.last_name}}
                </td>
                <td>
                  {{user.user.first_name}}
                </td>
                <td>
                  {{user.user.email}}
                </td>
                <td>
                  <span class="actif-user">Actif</span>
                </td>
                <td>
                  <a v-on:click="removeFromCompany(company, user)" class="btn btn-danger btn-post-add" data-toggle="tooltip" data-placement="top" :title="'Retirer ' + user.user.last_name + ' ' + user.user.first_name + 'de la compagnie'">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
              <tr v-for="email in company.mails" :id="'email_' + email.id">
                <td>
                  Doesn't
                </td>
                <td>
                  Know yet
                </td>
                <td>
                  {{email.mail}}
                </td>
                <td>
                  <span class="waiting-user">Invitation en attente...</span>
                </td>
                <td>
                  <a v-on:click="removeFromCompanyWaitingList(company, email)" class="btn btn-danger btn-post-add" data-toggle="tooltip" data-placement="top" :title="'Retirer ' + email.mail + ' de la compagnie'">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
          </tbody>
        </table>

      </div>
    </section>

    <div class="author-form">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <p class="h5">
                Inviter d'autres utilisateurs à participer à votre groupe!!!
            </p>
            <p>
              Inscrivez-vite son adresse email, nous lui enverrons une invitation pour qu’il découvre notre plateforme collaborative !
            </p>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="author-form-wrapper">
              <form name="app_mailing_new" method="post">
                <input type="email" id="email" name="email" required="required" placeholder="Adresse email" class="float-left form-control">
                <button class="btn btn-yellow float-right" type="submit">OK</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./company_contributors.component.ts"></script>