.btn {
    color: #fff;
    text-transform: uppercase;
    padding: 9px 15px;
    font-weight: bold;

    &:focus {
        color: #fff;
    }
}
.btn-yellow {
    background-color: #dd9933!important;

    &:hover {
        background-color: #dd9933!important;
    }
    &:active {
        background-color: #dd9933!important;
    }
    &:visited {
        background-color: #dd9933!important;
    }
}
.btn-grey {
    background-color: #5a5a5a!important;

    &:hover {
        background-color: #5a5a5a!important;
    }
    &:active {
        background-color: #5a5a5a!important;
    }
    &:visited {
        background-color: #5a5a5a!important;
    }

}
.btn-blue {
    background-color: #1D4261!important;
}

.btn-shadow-yellow {
    box-shadow: 0px 3px 0px #947514;

    &:active {
        box-shadow: 0px 3px 0px #947514;
    }
}
.btn-shadow-grey {
    box-shadow: 0px 3px 0px #313131;

    &:active {
        box-shadow: 0px 3px 0px #313131;
    }
}
.btn-shadow-blue {
    box-shadow: 0px 3px 0px #131b23;

    &:active {
        box-shadow: 0px 3px 0px #131b23;
    }
}
