.company {
  background-color: #fff;

  &.padding-white {
    padding-bottom: 10px;
  }

  .packs {
    position: relative;
    text-align: center;
    cursor: pointer;

    .pack-title {
      position: absolute;
      z-index: 1;
      width: 100%;
      font-size: 30px;
      top: 20px;
    }

    .pack-description {
      /*position: absolute;
      z-index: 1;
      width: 100%;
      font-size: 15px;
      top: 70px;*/
      /*min-height: 100px;*/
    }

    .pack-price {
      position: absolute;
      z-index: 1;
      width: 100%;
      font-size: 40px;
      top: 70px;
    }

    .pack-background-img {
      height: 100%;
      width: 100%;
      opacity: 0.5;
      z-index: 0;
    }

    &.selected {
      border: 3px solid green;
    }

  }

  .actif-user {
    padding: 2px 15px;
    border-radius: 2px;
    background-color: green;
    color: white;
  }

  .waiting-user {
    padding: 2px 15px;
    border-radius: 2px;
    background-color: orange;
    color: white;
  }
}

.not-enabled {
  opacity: 0.3;
}

.ul-company {
  list-style-type: none;
  padding: 0;

  li {
    margin: 10px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .inline-form {
    display: inline;
  }

  form:before {
    background-color: transparent;
  }
}

