.cooltree {

    .tree-header {
      background-color: #112433;
      padding: 30px 0;
      color: #fff;
      font-family: 'Open Sans Pro', sans-serif;

        h1 {
          font-weight: 100;
        }

        span {
            color: #6B96B9;
            margin-right: 10px;

            &.white {
                color: #fff;
                margin: 0;
                font-weight: bold;
            }
        }

        .btn {
            border-radius: 17px;
            margin-top: 30px;
            padding: 10px 15px;
            text-transform: initial;
        }
    }

    .tree-container {
        background: url('./../images/trees/tree_bg.jpg') center center / cover no-repeat;

        >svg {
            cursor: move;
            padding-left: 3em;
        }
    }

    #tree-help-icon {
      color: white;
      margin-left: 10px;
      margin-top: 10px;
      position: absolute;
    }

    #tree-help-bubble {
      background-color: #112433;
      border-radius: 11px;
      color: #fff!important;
      font-family: 'Source Sans Pro', sans-serif;
      max-width: 400px;
      opacity: 0;
      position: fixed;
      padding: 1.5em;
      left: 50px;
      top: 250px;
      transition: all 0.3s;
      visibility: hidden;

      font-size: 20px;
    }
    #tree-help-bubble.onScene {
      opacity: 1;
      visibility: visible;
    }

    .node {
      cursor: pointer;
      fill: #fff;
      stroke: steelblue;
      transition: all 1.5s;
    }
    .node.hover circle {
      fill: #dd9933;
      stroke: #dd9933;
      stroke-width: 1.5px;
    }
    .node.first circle {
      fill: #dd9933;
      stroke: #dd9933;
      stroke-width: 1.5px;
    }
    .node text {
      font: 10px sans-serif;
    }
    .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 1.5px;
    }
    .child-links {
      opacity: 0;
      transition: all 1.5s;
      visibility: hidden;
    }

    /* =========================================================
    ==Child bubble
    ========================================================= */
    .child-bubble {
      background-color: #112433;
      border-radius: 11px;
      color: #fff!important;
      font-family: 'Source Sans Pro', sans-serif;
      max-width: 400px;
      opacity: 0;
      position: fixed;
      padding: 3em 1.5em;
      right: 50px;
      top: 250px;
      transition: all 0.3s;
      visibility: hidden;
    }
    .child-bubble .img-absolute {
      left: 50%;
      position: absolute;
      top: -25px;
      transform: translate(-50%);
    }
    .child-bubble.onScene {
      opacity: 1;
      visibility: visible;
    }

    .child-bubble .bubble-title {
      color: #fff;
      font-size: 20px;
      margin: 0 0 11px;
      text-align: center;
    }
    .child-bubble .bubble-sub-title {
      color: #5d5d5d;
      font-size: 13px;
      margin: 2px 0;
      text-align: center;
    }
    .onScene {
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: 468px){
      .child-bubble {
        display: none;
      }
    }
}

.d3-tip {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  padding: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  display: inline;
  font-size: 10px;
  line-height: 1;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.child-selected {
  fill: #7401DF !important;
}

.child-img {
  fill: #58FAF4;
}
