footer {
  background-color: #1e1e1e;
  color: #ddd;
  font-size: 12px;

  p, ul {
    margin: 0;
    padding: 20px 0;

    li {
      padding: 0;

      a {
        color: #ddd;
      }
    }
  }

  .list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;

    li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

/*####################################
# ==Footer
####################################*/
.author-form {
  background-color: #e8e8e8;
  font-family: 'Droid Serif', serif;
  font-size: 13px;
  min-height: 115px;
  padding: 1.5em 0;
  position: relative;
  text-align: center;

  .author-form-wrapper {
    max-width: 70%;
    margin: 18px auto 0;

    input {
      width: 85%;
    }
  }

  .btn {
    margin-left: 2%;
    width: 13%;
  }

  .h5 {
    color: $yellow;
    font-size: 19px;
    margin-top: 0;
  }

  p {
    margin-bottom: 8px;
  }
}

.footer-content {
  background: url('../images/footer/footer-bg2.jpg') repeat;
  border-bottom: 7px solid #363636;
  border-top: 7px solid #363636;
  padding: 40px 0;
  text-shadow: 2px 2px 2px #000;

  .footer-tree {
    text-shadow: none;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 1em 0;
      border-bottom: 1px solid #383838;

      a {
        color: #ddd;
      }
    }
  }
}

.footer-content {
  background: url('../images/footer/footer-bg2.jpg') repeat;
  border-bottom: 7px solid #363636;
  border-top: 7px solid #363636;
  color: #ddd;
  padding: 40px 0;
  text-shadow: 2px 2px 2px #000;
  font-size: 13px;

  .footer-title {
    font-family: 'Droid Serif', serif;
    font-style: italic; color: #bbbbbb;
    overflow: hidden;
    white-space: nowrap;

    &::after {
      content:'ILFAUTFAIREDELAPLACEJESAISCESTPASPROPREMAISLAFAIMJUSTIFIELESMOYENSTOIMEMETUSAISFREROALLEAPLUSJEBISETRIPLEBISEHIGHFIVESWAGDEPOULESISILAMIFAONESTAL';
      background: url('../images/footer/footer-shape.png') repeat-x; color: transparent;
      text-shadow: none;
      margin-left: 10px;
    }
  }

  .footer-tree {
    text-shadow: none;
  }

  .media-body {
    a {
      color: #ddd;
    }
  }

  .text-sm-right {
    img {
      margin-bottom: 1em;
    }

    ul {
      li {
        p {
          margin: 0;

          &::first-child {
            font-size: 28px;
          }
        }
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 1em 0;
      border-bottom: 1px solid #383838;

      a {
        color: #ddd;
      }
    }
  }

  .about {
    color: #999999;

    p {
      margin-bottom: 1.7em;
    }
  }
}

.footer-sub {
  background-color: #1e1e1e;
  color: #ddd;
  font-size: 12px;

  ul, p {
    margin: 0;
    padding: 20px 0;

    li {
      padding: 0;

      &::before {
        content: '·';
        margin: 0 7px 0 5px;
      }

      a {
        color: #ddd;
      }
    }

    .first {
      &::before {
        content: "";
        margin: 0;
      }
    }
  }
}

@media (min-width: 769px) {
  .author-form {
    .h5 {
      color: #fff;
    }
  }
}
@media (min-width: 991px) {
  .author-form {
    background-color: #dd9933;
    min-height: 115px;
    text-align: left;

    &::before {
      background-color: #e8e8e8;
      bottom: 0;
      display: block;
      left: 50%;
      position: absolute;
      right: 0;
      top: 0;
      content: " ";
    }

    &::after {
      border-bottom: 57px solid transparent;
      border-left: 26px solid #dd9933;
      border-top: 57px solid transparent;
      height: 0;
      left: 50%;
      position: absolute;
      top: 0;
      width: 0;
      content: " ";
    }
  }
}
