header {
  .navbar {
    background: #fff;
    margin: 0;
    box-shadow: none;
    border: none;
    font-family: 'Source Sans Pro',sans-serif;
    text-transform: uppercase;
    border-radius: 0;
    padding: 0;

    .container {
      padding-right: 15px;
      padding-left: 15px;

      .navbar-header {
        margin: 0 15px;
      }
    }

    .navbar-brand {
      height: auto;
      margin: 0;
      margin-left: -15px;
      padding: 0;
      img {
        padding: 10px;
      }
    }

    .nav {
      margin-top: 0;

      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      > li {
        position: relative;
        display: block;
      }

      > li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
      }

      > li > a:hover, > li > a:focus {
        text-decoration: none;
        background-color: #eeeeee;
      }

      > li.disabled > a {
        color: #777777;
      }

      > li.disabled > a:hover, > li.disabled > a:focus {
        color: #777777;
        text-decoration: none;
        cursor: not-allowed;
        background-color: transparent;
      }

       .open > a, .open > a:hover, .open > a:focus {
        background-color: #eeeeee;
        border-color: #337ab7;
      }

       .nav-divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
      }
      > li > a > img {
        max-width: none;
      }
    }

    .navbar-left {
      li {
        border-left: 1px solid #eee;

        &:first-child {
          border: none;
        }
        &:last-child {
          border-right: 1px solid #eee;
        }
        &:hover {
          background: #e7e7e7;
        }

        > a {
          color: #3e4149;
          height: 60px;
          line-height: 40px;
          font-size: 14px;
          font-weight: bold;

          &:active {
            color: #3e4149;
          }
        }
      }
    }

    .navbar-right {
      margin-bottom: 0;
      position: absolute;
      top: 0;
      right: -55px;
      transform: translate(-50%);
      z-index: 999;

      &.connected {
        top: 15px;
        right: 0px;
      }

      .dropdown {
        background-color: #fff;
        margin-top: 0;
        min-width: 180px;
        z-index: 999;
      }
      .dropdown-menu {
        margin-right: -15px;
        font-size: 14px;
      }

      > li {
        display: inline-block;
        margin-top: 10px;

        .btn {
          color: #fff!important;
          padding: 9px 15px;
        }
      }
    }
  }

  @media (min-width: 991px) {
    .navbar {
      .navbar-right {
        /*margin-right: -15px;
        position: relative;
        left: initial;
        top: initial;
        transform: none;
        width: auto;*/

        :first-child a{
          margin-right: 10px;
        }
      }

      >li {
        height: 60px;
        line-height: 60px;

        .btn {
          color: #fff!important;
          padding: 9px 15px!important;
        }
      }
    }
  }

  @media (max-width: 990px) {
    .navbar-header {
      float: none;
    }
    .navbar-toggler {
      display: block;
    }
    .navbar-collapse {
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-collapse.in {
      display: block!important;
    }

    .navbar-nav {
      float: none!important;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .navbar .layout {
      position: absolute; left: 50%;
    }
    .navbar .layout .nav-registration, .navbar .dropdown {
      top: 0;
      left: 50%;
      position: absolute;
      top: 9.5px;

      transform: translate(-50%);
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      -o-transform: translate(-50%);
    }
  }

}