main {
  position: relative;

  .jumbotron {
    background: url('./../images/home/default-header.jpg')#4d5479 center center;
    background-size: cover;
    position: relative;
    min-height: 264px;
    color: #fff;

    h1 {
      font-size: 40px;
    }

    p {
      margin-bottom: 15px;
      font-size: 21px;
      font-weight: 200;
    }

    .container {
      max-width: $container-width;
    }
  }

  .user-cover {
    max-height: 264px;
    padding: 0;
    overflow: hidden;
    height: auto;
    min-height: initial;

    img {
      min-width: 100%;
    }
  }

  .home-player {
    background: url('./../images/home/home-header.jpg') center center;
    background-size: cover;
    color: #fff;
    height: 100vh;

    h1 {
      font-size: 59px;
      margin-bottom: .7em;
    }

    .btn {
      font-size: 25px;
      padding: 0.5em 1em;

      span {
        top: 3px;
        margin-left: 15px;
      }
    }
  }

  .post-add .jumbotron{
    background: none;
    background-color: #222a59;
    min-height: 200px;

    h1 {
      font-size: 40px;
    }

    p {
      font-size: 16px;
    }
  }

}