.letter-box {
  position: relative;

  .h3 {
    color: #5d83a9;
    font-size: 30px;
    font-style: italic;
    margin: 40px auto 50px;
  }

  background-size: cover;
  margin: 70px auto;
  padding: 3em;
  text-align: center;
  width: 518px;
  height: 360px;
  background: url('./../images/letter/enveloppe.png') center center no-repeat;
}