/*####################################
# ==Typo
####################################*/
body {
  font-family: 'Droid Serif', serif;
  line-height: 1.5;
  background-color: #eee;
  font-size: 14px;
}

.h3{
  &.bubble {
    position: relative;
    font-size: 20px;
    margin-bottom: 2em;
    margin-top: 2em;

    span {
      background-color: #4d5479;
      border-radius: 25px;
      color: #fff;
      display: block;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 19px;
      font-weight: bold;
      height: 50px;
      left: -82px;
      line-height: 2.6;
      position: absolute;
      text-align: center;
      top: -10px;
      width: 50px;

      &.last {
        top: -90px;
      }
    }
  }
}

.fa-star {
    color: $yellow;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

/*####################################
# ==Alert
####################################*/
.alert-container {
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  z-index: 9999;

  .alert {
    border-radius: none;
    z-index: 99999;
    max-width: 990px;
    margin: 0 auto;
    margin-bottom: 0;
    min-height: 60px;
    line-height: 30px;

    &.-danger {
      background-color: #f2dede;
      border-color: #ebccd1;
      color: #a94442;
    }

    &.-succes {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #3c763d;
    }

    &.-warning {
      background-color: #FFDB98;
      border-color: #FFA622;
      color: #EB6615;
    }

    &.-info {
      background-color: #15B7EB;
      border-color: #158DEB;
      color: #158DEB;
    }
  }
}

.alert {
  margin-bottom: 0;
}

/*####################################
# ==Images
####################################*/
.img-responsive {
  min-width: 100%;
}

/*####################################
# ==Containers
####################################*/
.container {
  max-width: $container-width;
}
section {
  padding-bottom: 1.5em;
}

.panel {
  transition: all 1.2s;

  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
}

/*####################################
# ==Fixs
####################################*/

// forms
.form-control.new-form-inedits {
  font-size: 14px;
  &:not(textarea){
    height: 33px; /*auto;*/
  }
}
input[type=file] {
  max-width: 100%;
}

.btn {
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 97%; /* 97% */
  text-transform: uppercase;

  &:hover {
    color: #fff;
  }
}

// BreadCrumb
.breadcrumb {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  color: #a2a2a2;

  a {
    color: #a2a2a2;
    font-style: italic;
  }

  > li {

    + li:before {
      content: ""; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0;
    }
  }
}

// Panels
.panel-default {
  border-radius: 0;
}

// PLayer
.jumbotron {
  margin-bottom: 0;
}

// PLayer
.page-cgu .jumbotron{
  margin-bottom: 2em;
}
.page-mentions .jumbotron{
  margin-bottom: 2em;
}

/*####################################
# ==Custom Classes
####################################*/
.absolute-center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: $container-width;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.vertical-absolute-center {
  position: absolute;
  top: 50%;
  max-width: 1200px;

  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
}

.margin-top {
  margin-top: 3em;
}

.in-invisible {
  display: none;
}

.in-center {
  text-align: center;
}

.jumbotron {
  border-radius: 0;
}

.homepage {
  position: relative;

  .homepage-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    color: $dark-blue;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2em;
  }

  section {
    padding: 3em 15px;
  }
}

.user_avatar_xs {
  width: 30px;
  height: 30px;
}

.user_avatar_sm {
  width: 50px;
  height: 50px;
}

.user_avatar_m {
  width: 252.500px !important;
  height: 252.500px !important;

  &.profile {
    border: 5px solid white;
    border-radius: 3px;
  }
}

.user_avatar_md {
  width: 121.250 !important;
  height: 121.250px !important;

  &.profile {
    border: 5px solid white;
    border-radius: 3px;
  }
}

form {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -60px;
    width: 5px;
    background-color: #ccc;
  }
}

.danger-past-text {
  color: red;
}