.pack, .company {
  background-color: #fff;

  .account {
    .container {
      h3 {
        font-size: 24px;
      }
    }
  }

  .packs-classic {

    .packs {
      position: relative;
      text-align: center;
      min-height: 239px;

      .heigh-img {
        height: 233px;
      }

      .pack-title {
        position: absolute;
        z-index: 1;
        width: 100%;
        font-size: 25px;
        top: 20px;
      }

      .pack-description {
        /*position: absolute;
        z-index: 1;
        width: 100%;
        font-size: 15px;
        top: 70px;*/
        /*min-height: 100px;*/
        margin: 0;
      }

      /*.pack-price {
        position: absolute;
        z-index: 1;
        width: 100%;
        font-size: 40px;
        top: 70px;
      }*/

      .pack-background-img {
        height: 100%;
        width: 100%;
        opacity: 0.5;
        z-index: 0;
      }

    }

    .packs-bottom {
      margin-bottom: 25px;
    }

    .pack-description {
      /*min-height: 100px;*/
      margin: 0;
    }

    div.pack-description {
      min-height: 60px;
    }
  }

  .separate-part {
    margin: 50px 0;
  }

  .packs-specific {

    .packs {
      position: relative;
      text-align: center;

      &.special {
        width: 60%;
        margin: 0 auto;
      }

      .pack-title {
        position: absolute;
        z-index: 1;
        width: 100%;
        font-size: 40px;
        top: 40px;
      }

      .pack-description {
        position: absolute;
        z-index: 1;
        width: 100%;
        font-size: 20px;
        top: 120px;
      }

      .pack-background-img {
        height: 100%;
        width: 100%;
        opacity: 0.2;
        z-index: 0;
      }

      .pack-button {
        position: absolute;
        z-index: 1;
      }
    }

    .contact-us {
      padding: 15px 15px;
    }
  }

  .special-pack {
    font-size: 17px;
  }
}
