.pdf-list {
    list-style-type: none;

    li {
        margin: 10px 0;
    }
}

.ul-pdf {
  list-style-type: none;
  padding: 0;

  li {
    margin: 10px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .inline-form {
    display: inline;
  }

  form:before {
    background-color: transparent;
  }
}

#all_text_report_text_ifr {
  height: 400px !important;
}

.i-effectue-commande {
  color: green;
}