.box {

    &.tree-box-init {
        .panel-heading {
          background-color: #860C18 !important;
        }

        .panel-heading-title {
            border-color: #5a0911 !important;
        }

        .panel-body {
          height: 390px;
        }

        .tree-box-init-content {
          min-height: 320px;
        }
    }

    .panel {
        border: none;

        .panel-heading {
            background-color: $main-blue;
            color: #fff;
            padding: 14px;
            border-radius: 0;

            &.Thriller {
                background-color: #3394DD;

                .panel-heading-title {

                    small {
                        color: #fff;

                        a {
                            color: #fff;
                        }
                    }
                }
            }

            .panel-heading-title {

                border: 1px solid #2e3b7f;
                padding: 10px 0px;
                max-height: 125px;
                height: 125px;
                position: relative;
                width: 100%;
                overflow: hidden;

                .panel-title {
                    font-size: 25px;
                    margin-bottom: .5em;
                    /*width: 330px;*/
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                small {
                    color: #94a4b4;
                    font-size: 14px;
                    margin-bottom: 14px;
                    display: block;

                    a {
                        color: #94a4b4;
                        font-size: 15px;
                    }
                }

                span {
                    position: absolute;
                    left: 50%;
                    top: 87%;
                    transform: translate(-50%, -50%);
                    font-size: 80%;
                    font-style: italic;
                }
            }
        }
    }

    .panel-body {
        padding: 10px 18px;
        border-right: 1px solid #eee;
        border-left: 1px solid #eee;
        max-height: 390px;

        dl {
            margin: 0;
            margin-top: 15px;
            min-height: 60px;

            dt {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 13px;
                text-transform: uppercase;
                font-weight: bold;
                width: auto;
                float: left;
            }

            dd {
                font-family: 'Baskerville';
                margin-left: 66px;
                font-size: 17px;
                word-break: break-word;

                a {

                    font-family: 'Source Sans Pro', sans-serif;
                    margin-top: 15px;
                    font-size: 14px;
                }

                .list-inline {
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 14px;
                }
            }

        }
    }

    .panel-footer {
        background-color: #fff;
        border-top: none;
        border-right: 1px solid #eee;
        border-left: 1px solid #eee;

        hr {
            margin-top: 0;
            margin-bottom: 13px;
        }
    }
}

@media(min-width: 768px) {
  .last-trees, .tree-list {
    dd.content {
      min-height: 300px;
      max-height: 340px;
    }
  }
}

.last-posts {

    dd.content {

        min-height: 232px;
    }

}
