.post-show {
  background-color: #2e2e2e;
  color: #fff;


  #post-parents-accordion {

    .panel-body {
      padding: 0;
    }

    .panel-footer {

      img {
        border: 2px solid #fff;
        border-radius: 2px;
        margin-bottom: 0;
      }

      .media-body {
        color: #a2a2a2;
      }
    }

  }

  >.container {
    padding-top: 30px;
    padding-bottom: 30px;

      section {
        > header {
          position: relative;

          h1 {
            color: #fff;
            margin-bottom: 10px;
            margin-top: 0;
          }

          .btn {
            color: #fff;
            top: 0;
            right: 0;
            background-color: #222222;
            padding: 1em;
            position: absolute;
          }
        }

        footer {
          .btn {
            color: #fff;
            background-color: #222222;
            margin: 3em 0;
            padding: 1em;
          }
        }

        .reader {
          background-color: #fff;
          color: #2c3e50;
          font-family: 'Baskerville';
          font-size: 18px;
          line-height: 30px;
          padding: 25px;
        }

        .continued {
          margin: 0;
          padding: 30px 0;
          position: relative;
          text-align: center;
          width: 100%;

          &:before {
            border-top: 2px solid #d7d6d7;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            top: 49px;
            width: 40%;
          }

          &:after {
            border-top: 2px solid #d7d6d7;
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 49px;
            width: 40%;
          }
        }
      }

    .user-pic {
      width: 50%;
      margin: 0 auto;

      img {
        border: 5px solid #fff;
        border-radius: 4px;
        margin-bottom: 1em;
      }
    }

    .post-author {
      padding: 15px 0;
      margin-bottom: 1em;

      em {
        color: #a2a2a2;
      }

      p {
        font-size: 21px;
        font-style: italic;
        margin-bottom: 1em;
      }
    }

    .inspiration {
      background-color: #222222;
      padding: 30px 30px 30px 30px;
      margin-bottom: 1em;

      p {
        color: #7e7e7e;
        margin-bottom: 1.5em;

        &.h3 {
          color: #fff;
        }
      }
    }

    aside {
      ul {
        padding: 0;
        list-style: none;
        text-align: left;
        margin-top: 20px;

        li {
          border-top: 1px solid #404040;
          padding: 15px 0;
        }
      }
    }
  }

  footer.text-right {
    background-color: initial;
  }
}

.post-add, .my-selection, .company, .pdf, .pack {
  background-color: #fff;

  .tree-rules {
    background-color: $yellow;
    border-radius: 5px;
    padding: 1.5em;
    color: #fff;
    font-family: 'Source Sans Pro',sans-serif;
  }

  small {
    font-size: 70%;
  }

  button.area-toggle {
    height: 150px;
    font-weight: 100;
    margin-top: 0!important;
    text-transform: inherit;
    width: 100%;

    .svg-inline--fa {
      font-size: 44px;
    }
  }

  .file-input {
    &.success label{
      background-color: $success;
    }

    label {
      background-color: #dd9933;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 18px;
      font-weight: 100;
      height: 150px;
      line-height: 1;
      font-family: 'Source Sans Pro', sans-serif;
      text-align: center;
      width: 100%;

      .svg-inline--fa {
        font-size: 44px;
      }
    }

    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }

  >.container {
    padding-top: 2.5em;
  }

  form {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -60px;
      width: 5px;
      background-color: #ccc;
    }
  }

  .h3 {
    position: relative;
    font-size: 20px;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .form-group  {
    >.btn {
      margin-top: 2em;
    }
  }

  .charte {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 0 8px -1px rgba(0,0,0,0.5);
    margin: 15px auto;
    max-height: 170px;
    overflow: auto;
    padding: 1.7em 1em;
  }

  .form-group {
    .btn[type="submit"] {
      margin-top: 2em;
    }
  }

  .panel {
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 2em;
    margin-left: 50px;
    padding: 10px 15px 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;

    .panel-heading {
      border: none;

      .svg-inline--fa {
        font-size: 50px;
      }

      p {
        font-size: 25px;
      }
    }

    .list-group{
      border: none;

      .list-group-item {
        border: none;
      }
    }

    &.info {
      background-color: $main-blue;

      .panel-heading {
        color: #4d5479;
        background-color: $main-blue;
      }

      .list-group-item {
        background-color: $main-blue;
      }
    }

    &.warning {
      background-color: $yellow;

      .panel-heading {
        color: #f5b75a;
        background-color: $yellow;
        border: none;
      }

      .list-group-item {
        background-color: $yellow;
      }
    }
  }
}

.tree-list {
  min-height: 200px;
  padding: 1px;
  background: url('../images/trees/tree_list_bg.jpg') center -50px no-repeat rgb(238, 238, 238);

  .jumbotron {
    padding: 0;
    background: initial;
    min-height: auto;

    h1 {
      font-size: 40px;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }
  }
}

.img-center {
  text-align: center;
}

.image-tree {
  max-width: 200px;
  max-height: 200px;
}

.image-show-page {
  max-width: 450px;
  max-height: 450px;
}
