.table-selection {
  margin: 20px 0px;
}

.ul-selection {
  list-style-type: none;
  padding: 0;

  li {
    margin: 10px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .inline-form {
    display: inline;
  }

  form:before {
    background-color: transparent;
  }
}
