<template>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>Copyright © {{ dateYear }} · All Rights Reserved</p>
        </div>

        <div class="col-xs-12 col-sm-8 text-right">
          <ul class="list-inline">
            <li v-for="link in links">
              <router-link :to="{name: link.url}">
                {{link.name}}
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>

<script lang="ts" src="./footer.component.ts"></script>