<template>
  <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li v-for="(parent, index) in post.parents" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <router-link itemscope itemtype="http://schema.org/Thing" itemprop="item" :to="{ name: 'post_show', params: { post_id: parent.id } }">
        <span itemprop="name">{{parent.title}}</span>
      </router-link>
      <meta itemprop="position" :content="index" />
    </li>
  </ol>
</template>

<script lang="ts" src="./_breadcrumb.component.ts"></script>