<template>
  <article class="tree-box box tree-box-init">
    <div class="panel panel-default">

      <div class="panel-heading text-center">
        <div class="panel-heading-title">
          <h3 class="panel-title">
            Nouvel arbre
          </h3>
          <small>Groupe : {{ company.name }}</small>
        </div>
      </div>

      <div class="panel-body">
        <dl class="dl-horizontal tree-box-init-content">
          <div class="content text-justify">
            Cet arbre ne possède pas encore de contributions.
            Il est pour l'instant visible uniquement par vous.
            Cliquez sur le boutons ci-dessous pour l'initialiser et créer la première contribution
          </div>
        </dl>
        <div>
          <router-link class="float-right btn btn-yellow btn-shadow-yellow" :to="{ name: 'add_post', params: {company_id: company.id} }">
            Initialiser
          </router-link>
        </div>
      </div>

      <div class="panel-footer text-right"></div>

    </div>
  </article>

</template>
<script lang="ts" src="./_post_init_box.component.ts"></script>