<template>
  <article class="post-box box">
    <div class="panel panel-default">
      <div class="panel-heading text-center" style="{post.root.category ? '#'+post.root.category.color : ''}">
        <div class="panel-heading-title">
          <h3 class="panel-title">{{ post.title }}</h3>
          <div v-if="post.root">
            <small>
              Arbre:
              <router-link to="{name: 'post_tree_show', params: { slug: post.root.slug}}">
                {{ post.root.title }}
              </router-link>
            </small>
            <span v-if="post.root.category">{{ post.root.category.name }}</span>
          </div>
          <router-link class="float-right btn btn-yellow btn-shadow-yellow" :to="{name: 'post_tree_show', params: { slug: post.slug, post_id: post.id}}">
            Lire
          </router-link>
        </div>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Extrait :</dt>
          <dd class="content">
            <div v-if="!post.file" v-html="post.content_purified.length > 50 ? post.content_purified.slice(0, 50) : post.content_purified"></div>
            <img v-if="post.file" class="image-tree" :src="post.file" />
            <p>
              <router-link class="" :to="{name: 'post_tree_show', params: { slug: post.slug, post_id: post.id}}">
                Lire la suite
              </router-link>
            </p>
          </dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Auteurs :</dt>
          <dd>
            <ul class="list-inline">
              <li v-for="author in post.users">
                <router-link :to="{name: 'profile', params: { slug: author.slug}}">
                  <avatarVue :user="author" class_style="user_avatar_sm" />
                </router-link>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="panel-footer text-right">
        <hr>
        <router-link class="btn btn-yellow btn-shadow-yellow" :to="{name: 'post_tree_show', params: { slug: post.slug, post_id: post.id}}">
          Lire
        </router-link>
        <router-link v-if="!user.user" class="btn btn-grey btn-shadow-grey" to="{name: 'home'}">
          Participer
        </router-link>
      </div>
    </div>
  </article>
</template>

<script lang="ts" src="./_post_box.component.ts"></script>