<template>
  <div class="post-add">
    <div class="jumbotron default">
      <div class="absolute-center">

        <div v-if="parent" class="container">
          <h1>Initialiser un nouvel arbre</h1>
        </div>
        <div v-else class="container">
          <h1>Ecrivez la suite de l'histoire...</h1>
          <p>Suite de :
            <router-link :to="{ name: 'post_show', params: {slug: post.slug} }">
              {{ post.title }}
            </router-link>
            écrite par :
            <router-link :to="{ name: 'profile', params: {slug:user.slug} }">
              {{ post.user.getCommonName }}
            </router-link>
          </p>
        </div>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div v-if="tree && tree.rules" class="tree-rules">
            Cet Arbre est soumis à des règles particulières : <br>
            <span v-html="tree.rules"></span>
          </div>
          <form name="app_post_new" method="post" class="" enctype="multipart/form-data" @submit="createPost">
            <input type="hidden" name="_csrf_token" value="csrf_token_django" />
            <p class="h3 bubble">Vos informations personnelles<span>1</span></p>
            <div class="form-group">
              <input v-model="post.user_profile.user.first_name" type="text" id="firstName" name="firstName" required="required" placeholder="Votre Prénom" class="form-control">
            </div>
            <div class="form-group">
              <input v-model="post.user_profile.user.last_name" type="text" id="lastName" name="lastName" required="required" placeholder="Votre Nom" class="form-control">
            </div>

            <p class="h3 bubble">Votre histoire<span>2</span></p>
            <div class="form-group">
              <input v-model="post.title" type="text" id="title" name="title" required="required" placeholder="Titre de la contribution" class="form-control">
            </div>

            <div class="row margin-top">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group file-input">
                  <label for="file">
                    <div class="absolute-center">
                        <font-awesome-icon icon="cloud-upload-alt"/>
                        <br>
                        Envoyez votre image<br>
                        <small>(.png, jpeg, .jpg)</small>
                    </div>
                  </label>

                  <input type="file" id="file" name="file">
                </div>
              </div>

              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <button type="button" id="btn-editor" v-on:click="showTexTare()" class="btn btn-grey area-toggle">
                    <font-awesome-icon icon="edit"/>
                    <br>
                    Écrire en ligne<br>
                    <small>en utilisant notre outil</small>
                  </button>
                </div>
              </div>
            </div>

            <div id="editor" v-bind:class="{ 'in-invisible': !show }">
              <p>Contenu</p>
              <div class="form-group">
                <p class="danger-past-text">
                  Attention : Si vous copiez-collez votre contribution depuis un traitement de texte, il se peut que le formatage ne soit pas intégralement pris en compte, pour ne pas altérer l’impression finale.
                </p>

                <editor :apiKey="api_key" :init="config" v-model="post.content" id="content" name="content" class="wysiwyg form-control"></editor>
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-blue btn-shadow-blue btn-post-add" type="submit">Ajouter</button>
            </div>
            <p class="h3 bubble"><span class="buble last">></span></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./add.component.ts"></script>