<template>
  <div class="post-show">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <section>
            <header>
              <h1>{{ post.title }}</h1>

              <breadCrumbVue :post="post" />

              <router-link v-if="post.root_id" class="btn btn-primary" :to="{ name: 'post_tree_show', params: {post_id: post.root_id} }">
                <font-awesome-icon icon="arrow-left"/>
                Retour à l'arbre
              </router-link>
              <router-link v-else class="btn btn-primary" :to="{ name: 'post_tree_show', params: {post_id: post.id} }">
                <font-awesome-icon icon="arrow-left"/>
                Retour à l'arbre
              </router-link>
            </header>

            <div v-if="post.parents.length > 0">
              <h4>Contributions précédentes</h4>
              <div class="panel-group" id="post-parents-accordion" role="tablist" aria-multiselectable="true">
                <div v-for="(parent, index) in post.parents" class="panel panel-default">
                  <div class="panel-heading" role="tab" :id="'post-parents-heading-' + index">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" :href="'#post-parents-collapse-'+ index" :aria-expanded="true" :aria-controls="'post-parents-collapse-' + index">
                        {{ index + 1 }}. {{ parent.title }}
                      </a>
                    </h4>
                  </div>
                  <div :id="'post-parents-collapse-' + index" class="panel-collapse collapse" role="tabpanel" :aria-labelledby="'post-parents-heading-' + index">
                      <div class="panel-body">
                        <div class="reader">
                          <div v-if="parent.file">
                            <img class="image-show-page" :src="host + parent.file" />
                          </div>
                          <div v-else v-html="parent.content_purified"></div>
                        </div>
                      </div>
                      <div class="panel-footer">
                        <div class="media">
                          <div class="media-left">
                            <avatarVue :user="parent.user_profile" class_style="user_avatar_sm" />
                          </div>
                          <div class="media-body media-middle">
                            <h4>
                              Contribution de
                              {{ parent.user_profile.user.first_name + ' ' + parent.user_profile.user.last_name }}
                              le
                              {{ getCreatedAt(parent.created_at, 'DD/MM/YYYY') }}
                            </h4>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="reader" v-bind:class="{'img-center': post.file }">
              <div v-if="post.file">
                <img class="image-show-page" :src="host + post.file" />
              </div>
              <div v-else v-html="post.content_purified"></div>
              <p class="continued">A suivre</p>
            </div>
            <footer class="text-right">
              <router-link v-if="post.root_id" class="btn btn-primary" :to="{ name: 'post_tree_show', params: {post_id: post.root_id} }">
                <font-awesome-icon icon="arrow-left"/>
                Retour à l'arbre
              </router-link>
              <router-link v-else class="btn btn-primary" :to="{ name: 'post_tree_show', params: {post_id: post.id} }">
                <font-awesome-icon icon="arrow-left"/>
                Retour à l'arbre
              </router-link>
            </footer>
          </section>
          <section v-if="user.user.id == post.user_profile.user.id" @submit="editPost">
            <form v-if="post.file" name="post_edit" method="POST">
              <h3>Modifier la contribution</h3>
              <p>Titre</p>
              <div class="form-group">
                <input type="text" id="title" name="title" required="required" placeholder="Titre de la contribution" class="form-control" :value="post.title">
              </div>
              <div class="form-group">
                <button class="btn btn-blue btn-shadow-blue btn-post-add" type="submit">Mettre à jour</button>
              </div>
            </form>
            <form v-else name="post_edit" method="POST" @submit="editPost">
              <h3>Modifier la contribution</h3>
              <p>Titre</p>
              <div class="form-group">
                <input type="text" id="title" name="title" required="required" placeholder="Titre de la contribution" class="form-control" :value="post.title">
              </div>
              <div class="form-group">
                <p class="danger-past-text">
                  Attention : Si vous copiez-collez votre contribution depuis un traitement de texte, il se peut que le formatage ne soit pas intégralement pris en compte, pour ne pas altérer l’impression finale.
                </p>

                <!-- <textarea id="content" name="content" class="wysiwyg form-control" aria-hidden="true" style="display: none;"></textarea> -->
                <editor :apiKey="api_key" :init="config" v-model="post.content" id="content" name="content" class="wysiwyg form-control"></editor>
              </div>
              <div class="form-group">
                <button class="btn btn-blue btn-shadow-blue btn-post-add" type="submit">Mettre à jour</button>
              </div>
            </form>
          </section>
        </div>
        <div class="col-xs-12 col-sm-3">
          <aside>
            <div class="user-pic">
              <avatarVue :user="post.user_profile" class_style="user_avatar_md" />
            </div>

            <div class="post-author text-center">
              <em>Contribution de :</em>
              <p>
                {{ post.user_profile.user.first_name + ' ' + post.user_profile.user.last_name }}
              </p>
              <router-link class="btn btn-grey" :to="{ name: 'profile', params: { slug: post.user_profile.slug } }">
                Voir son profil
              </router-link>
            </div>

            <div class="inspiration text-center">
              <p class="h3">
                Cette histoire vous inspire ?
              </p>
              <router-link class="btn btn-yellow" :to="{ name :'add_post', params: { company_id: post.company.id, parent_id: post.id } }">
                Créez la suite
              </router-link>
            </div>
            <ul>
              <li>
                <b>Ajoutée le</b> : {{ post.getCreatedAt('DD/MM/YYYY') }}
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./post_show.component.ts"></script>