<template>
  <div class="cooltree">
    <div class="tree-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <h1>{{ tree.title }}</h1>
            <span> <span class="white">{{ tree.children_count + 1 }}</span> Contribution(s)</span>
            <span>Démarré le : {{ tree.getCreatedAt('DD/MM/YYYY') }}</span>
          </div>
          <div v-if="user.user.id == parent.user_profile.user.id" class="col-xs-12 col-sm-6 text-right">
            <router-link class="btn btn-yellow btn-shadow-yellow" :to="{ name: 'selections', params: {slug: parent.slug, post_id: parent.id} }">
              Ma selection
            </router-link>
          </div>
        </div>
      </div>
    </div>
    <div v-for=" post in posts" class="child-bubble" :id="post.id">
      <p class="bubble-sub-title">
        Écrit par :
        <router-link :to="{ name: 'profile', params: { slug: post.user_profile.slug } }">
          {{ post.user_profile.user.first_name }} {{ post.user_profile.user.last_name }}
        </router-link>
        <avatarVue :user="post.user_profile" class_style="user_avatar_sm" />
      </p>
      <p class="bubble-title">{{ post.title }}</p>
      <p class="bubble-sub-title">Extrait</p>
      <p v-if="!post.file">
        <div v-if="post.content_purified.length < 250" v-html="post.content_purified"></div>
        <div v-if="post.content_purified.length > 250" v-html="post.content_purified.slice(0, 250) + '...'"></div>
      </p>
      <p v-if="post.file">
        <img class="image-tree" :src="host + '/' + post.file" />
      </p>
      <router-link :to="{ name: 'post_show', params: { slug: post.slug } }">
        Voir
      </router-link>
    </div>

    <div id="tree-help-bubble">
      <i class="fa fa-hand-paper-o" aria-hidden="true"> Déplacez l'arbre en le saisissant avec votre souris</i> <br />
      <i class="fa fa-search-plus" aria-hidden="true"> Zoomez à l'aide de la molette de votre souris</i>
      <i class="fa fa-user" aria-hidden="true"> Les contributions avec cette icône sont celles dont vous êtes l'auteur</i>
    </div>
    <div class="tree-container">
      <font-awesome-layers class="fa-3x">
        <font-awesome-icon id="tree-help-icon" icon="question-circle"/>
      </font-awesome-layers>
    </div>
  </div>
</template>

<script lang="ts" src="./tree_posts.component.ts"></script>