<template>
  <div class="tree-list">
    <div class="jumbotron default">
      <div class="container">
        <h1>Les arbres</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div v-for="company in companiesWithNoTree" class="col-xs-12 col-sm-6 col-md-4">
          <postInitBoxVue :company="company"/>
        </div>

        <div v-for="post in posts" class="col-xs-12 col-sm-6 col-md-4">
          <postBoxVue :post="post" :user="user"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./trees.component.ts"></script>