<template>
  <div class="col-xs-6 col-md-4 col-lg-4 packs-bottom float-xl-left">
    <div :id="'pack_'+pack.slug" class="packs" v-bind:class="{ 'selected': selected }">
      <p class="pack-title">{{pack.name}} <br> {{pack.price}} € TTC</p>
      <div class="clearfix"></div>
      <div class="heigh-img">
        <img v-if="pack.logo" class="pack-background-img" :src="host+'/'+pack.logo">
        <img v-if="!pack.logo" class="pack-background-img" :src="default_path">
      </div>
    </div>
    <div class="clearfix"></div>

    <div v-html="pack.description_purified" class="pack-description"></div>

    <div class="clearfix"></div>
    <cardPackMoreVue :pack="pack" :user="user" />

    <br>
    <br>
    <div class="clearfix"></div>

    <div class="pack-button" v-if="create">
      <a role="button" target="_blank" :href="'devis_pack/'+pack.slug" class="btn btn-grey float-xl-left col-xs-5 col-lg-5 col-md-5" data-toggle="tooltip" data-placement="bottom" title="Télécharger le devis">
        Devis
        <font-awesome-icon icon="download"/>
      </a>
      <router-link role="button" :to="{ name: 'company_new', query: { pack: pack.slug }}" class="btn btn-yellow float-xl-right col-xs-5 col-lg-5 col-md-5">
        Commander
      </router-link>
    </div>
  </div>
</template>
<script lang="ts" src="./_card_pack.component.ts"></script>