<template>
  <div>
    <!-- Button trigger modal -->
    <a class="float-xl-right" href="#" data-toggle="modal" :data-target="'#pack_infos_'+pack.slug">
      En savoir plus...
    </a>

    <!-- Modal -->
    <div class="modal fade" :id="'pack_infos_'+pack.slug" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{pack.name}} : {{pack.price}} € TTC</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div v-html="pack.description_purified" class="pack-description"></div>

            <p class="pack-description">Impression {{ pack.color ? 'Couleur' : 'N&B' }}</p>
            <p class="pack-description">Papier {{pack.getTypePaper()}}</p>
            <p class="pack-description">Couverture {{pack.getTypeCouverture()}}</p>
            <p class="pack-description">Reliure {{pack.getTypeReliure()}}</p>
            <p class="pack-description">Pages entre {{pack.nb_page}} et {{pack.nb_page_max}} {{pack.type_format}}</p>
            <p class="pack-description">{{pack.nb_max_users}} et Exemplaires {{pack.type_format}}</p>
            <p class="pack-description">(hors frais d’expédition)</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./_pack_more_infos.component.ts"></script>