<template>
  <div class="pack">
    <playerVue :message="$route.meta.pageSentence" />
    <div class="page-header">
      <div class="container">

      </div>
    </div>

    <section class="account">
      <div class="container">

        <h3>Packs standards</h3>

        <div class="packs-classic">
          <cardPackVue v-for="pack in packs" :selected="false" v-if="pack.type == 'PAYANT'" :create="true" :pack="pack" :user="user" :key="pack.id"/>
        </div>

        <div class="clearfix separate-part"></div>

        <div class="packs-specific">
          <div v-for="pack in packs" v-if="pack.type == 'SPECIAL'" class="col-xs-12 col-md-12 col-lg-12" :key="pack.id">
            <div class="packs special">
                <img class="pack-background-img" :src="pack.logo ? host + '/' + pack.logo : host + '/pro/statics/images/sur_mesure.jpg'">

                <p class="pack-title">{{pack.name}}</p>
                <div v-html="pack.description_purified" class="pack-description"></div>

                <a :href="contact_us" target="_blank" class="btn btn-warning contact-us pull-left col-xs-12 col-lg-12 col-md-12">
                  NOUS CONTACTER
                </a>
              </div>
              <div class="clearfix"></div>
            </div>
        </div>

      </div>
    </section>

  </div>
</template>

<script lang="ts" src="./pack.component.ts"></script>