<template>
  <div class="page-how-it-works">
    <div class="page-header">
      <div class="container">
        <p>Les éditions Inédits proposent, en exclusivité, le premier réseau social d’écriture collaborative !</p>

        <p>Une consigne de départ, ou un début d’histoire sont mis en ligne, et font appel à votre créativité pour écrire la suite ! L’histoire chemine dans plusieurs directions : une arborescence se créé…</p>
      </div>
    </div>
    <section class="account">
      <div class="container">
        <header>
          <h3 class="bubble h3">
            <span>1</span>
            <a href="#">Accédez à votre compte <strong>Inédits</strong> !</a>
          </h3>
        </header>
        <div class="row">
          <img src="@/assets/images/comment-ca-marche/macbook_1_pro.png" alt="">
          <div class="col-xs-12 col-sm-6">
            <p>
              Votre compte a été créé sur notre plateforme d’écriture collaborative en accès privé. Pour vous connecter, entrez votre adresse mail et le mot de passe qui vous a été communiqué pour l’ensemble du groupe.
            </p>
            <p>
              Complétez votre profil d’auteur, personnalisez-le !
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <section class="story">
      <div class="container">
        <img src="@/assets/images/comment-ca-marche/macbook_3.png" alt="">
        <div class="row">
          <div class="col-xs-12 col-sm-6 offset-6">
            <header>
              <h3 class="bubble h3">
                <span>2</span>
                <router-link to="/les-arbres">
                  Choisissez l’histoire et le passage qui vous inspirent le plus !
                </router-link>
              </h3>
            </header>
            <p>
              Sous l’onglet Arbres, accédez à l’histoire à laquelle vous allez apporter vos contributions.
            </p>
            <p>
              Lisez attentivement les textes mis en ligne, choisissez celui qui vous inspire.
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <section class="text">
        <div class="container">
            <header>
                <h3 class="bubble h3">
                    <span>3</span>
                    <a href="#">Mettez en ligne votre contribution !</a>
                </h3>
            </header>
            <img src="@/assets/images/comment-ca-marche/macbook_2_probis.png" alt="">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <p>
                        Une fois connecté à votre compte, sélectionnez la contribution à laquelle vous souhaitez donner suite, cliquez sur « Écrivez la suite ».
                    </p>
                    <p>
                        Saisissez le titre à votre contribution.
                    </p>
                    <p>
                        Cliquez sur « Écrire en ligne »
                    </p>
                    <p>
                    <p>
                        Cliquez sur « Ajouter », votre texte apparaîtra en ligne.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- Don't show if register -->
    <div class="container">
      <div class="cta">
        <div class="cta-wrapper">
          <p class="h3">Envie d'écrire ?</p>
          <p>Rejoignez la première plateforme d’écriture collaborative lancée par un éditeur</p>
          <a href="/register" class="btn btn-blue">S'inscrire<i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./commentCaMarche.component.ts"></script>