<template>
  <div class="pdf">
    <playerVue :message="$route.meta.pageSentence" />
    <div class="page-header">
      <div class="container">
        <p>Passer la commande : </p>
        <router-link class="btn btn-primary" :to="{ name: 'pdfs' }">
          <font-awesome-icon icon="arrow-left"/>
          Retour
        </router-link>
      </div>
    </div>
    <section class="account">
      <div class="container">
        <form @submit="toCommand" method="post">
          <div class="form-row">
            <div class="form-group">
              <label class="form-control-label col-xs-12 col-md-6 col-lg-6">
                <span>Nom</span>
                <input class="form-control" type="text" name="lastname" placeholder="Nom" required :value="user.user.last_name">
              </label>

              <label class="form-control-label col-xs-12 col-md-6 col-lg-6">
                <span>Prénom</span>
                <input class="form-control" type="text" name="firstname" placeholder="Prénom" required :value="user.user.first_name">
              </label>
              <div class="clearfix"></div>
            </div>


            <div class="form-group">
              <label class="form-control-label col-xs-12 col-md-6 col-lg-6">
                <span>Téléphone</span>
                <input class="form-control" type="text" name="phone" placeholder="Téléphone" required value="">
              </label>

              <label class="form-control-label col-xs-12 col-md-6 col-lg-6">
                <span>Email</span>
                <input class="form-control" type="email" name="email" placeholder="Email" required :value="user.user.email">
              </label>
              <div class="clearfix"></div>
            </div>


            <div class="form-group">
              <label class="form-control-label col-xs-12 col-md-6 col-lg-6">
                <span>Adresse</span>
                <input class="form-control" type="text" name="adresse" placeholder="Adresse" required value="">
              </label>

              <label class="form-control-label col-xs-12 col-md-6 col-lg-6">
                <span>Complément d'adresse</span>
                <input class="form-control" type="text" name="complement" placeholder="Complément">
              </label>
              <div class="clearfix"></div>
            </div>


            <div class="form-group">
              <label class="form-control-label col-xs-12 col-md-6 col-lg-6">
                <span>Code Postale</span>
                <input class="form-control" type="text" name="code_postal" placeholder="Code Postale" required value="">
              </label>

              <label class="form-control-label col-xs-12 col-md-6 col-lg-6">
                <span>Ville</span>
                <input class="form-control" type="text" name="ville" placeholder="Ville" required value="">
              </label>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <label class="form-control-label col-xs-12 col-md-6 col-lg-6">
                <span>Pays</span>
                <input class="form-control" type="text" name="country" placeholder="Pays" required value="France">
              </label>
            </div>


            <div class="clearfix"></div>
            <button class="btn btn-primary" type="submit">
              Passer commande
              <font-awesome-icon icon="arrow-right"/>
            </button>
          </div>
        </form>
      </div>
    </section>

  </div>
</template>

<script lang="ts" src="./pdf_command.component.ts"></script>