<template>
  <div class="pdf">
    <playerVue :message="$route.meta.pageSentence" />
    <div class="page-header">
      <div class="container">
        <p>Voici les contributions en pdf : </p>
      </div>
    </div>
    <section class="account">
      <div class="container">

        <!-- Modal -->
        <div v-if="selectedPdf.id !== 0" class="modal fade" id="deletePdfModal" tabindex="-1" role="dialog" aria-labelledby="deletePdfModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deletePdfModalLabel">Suppression de {{selectedPdf.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Etes-vous sûr de vouloir le supprimer
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="unSelectPdf(selectedPdf)" data-dismiss="modal">
                  Close
                </button>
                <button type="button" class="btn btn-primary" v-on:click="deletePdf(selectedPdf)">
                  Suppression
                </button>
              </div>
            </div>
          </div>
        </div>

        <table class="table table-bordered table-striped table-selection">
          <thead>
            <tr>
              <th>Titre</th>
              <th>Preview PDF</th>
              <th>Éditer le document</th>
              <th>Télécharger le PDF</th>
              <th>Passer la commande</th>
              <th>Supprimer le PDF</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="pdf in pdfs" :id="'pdf_' + pdf.id">
              <td v-html="pdf.title"></td>
              <td>
                <span v-on:click="showPDF(pdf)" class="btn btn-blue btn-post-add" data-toggle="tooltip" data-placement="right" title="Voir l'aperçu">
                  <font-awesome-icon icon="eye"/>
                </span>
              </td>
              <td>
                <router-link :to="{ name: 'selection_edit', params: {slug: pdf.slug, pdf_id: pdf.id, post_id: pdf.post.id} }">
                  <font-awesome-icon icon="pencil-alt"/>
                </router-link>
              </td>
              <td>
                <a target="_blank" :href="'/pdf/' + pdf.slug + 'download'" class="btn btn-blue btn-post-add" data-toggle="tooltip" data-placement="right" title="Télécharger le pdf">
                  <font-awesome-icon icon="download"/>
                </a>
              </td>

              <td>
                <router-link v-if="!pdf.isCommanded" :to="{ name: 'command', params: {pdf_id: pdf.id, slug: pdf.slug } }" class="btn btn-blue btn-post-add" data-toggle="tooltip" data-placement="right" title="Passer commande">
                  <font-awesome-icon icon="angle-double-right"/>
                </router-link>
                <span v-else class="i-effectue-commande" data-toggle="tooltip" data-placement="right" title="Commande effectuée">
                  <font-awesome-icon icon="check"/>
                </span>
              </td>

              <td>
                <button v-on:click="selectPdf(pdf)" class="btn btn-danger btn-post-add" data-toggle="modal" data-placement="right" title="Supprimer le pdf" data-target="#deletePdfModal">
                  <font-awesome-icon icon="trash"/>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </section>

  </div>
</template>

<script lang="ts" src="./pdfs.component.ts"></script>