<template>
  <div class="user-register">
    <playerVue :message="$route.meta.pageSentence" />
    <div class="container">

      <form action="" method="post" @submit="checkForm" class="fos_user_registration_register" enctype="multipart/form-data">

          <p class="h3 bubble">Vos informations personnelles *<span>1</span></p>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="form-group">
                  <input v-model="user.firstname" type="text" id="firstname" name="firstname" required="required" placeholder="Votre Prénom" class="form-control new-form-inedits">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="form-group">
                  <input v-model="user.lastname" type="text" id="lastname" name="lastname" required="required" placeholder="Votre Nom" class="form-control new-form-inedits">
                </div>
              </div>
            </div>
          </div>

          <p class="h3 bubble">Votre compte Inédits *<span>2</span></p>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="form-group">
                  <label class="control-label required" for="fos_user_registration_form_email">
                    Adresse e-mail
                  </label>
                  <input v-model="user.email" type="email" id="email" name="email" required="required" placeholder="Votre adresse email" class="form-control new-form-inedits">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="form-group">
                  <label class="control-label required" for="password">
                    Mot de passe
                  </label>
                  <input v-model="user.password" type="password" id="password" name="password" required="required" placeholder="Votre mot de passe" class="form-control new-form-inedits">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="form-group">
                  <label class="control-label required" for="confirm_password">
                    Répéter le mot de passe
                  </label>
                  <input v-model="user.confirm_password" type="password" id="confirm_password" name="confirm_password" required="required" placeholder="Confirmer le mot de passe" class="form-control new-form-inedits">
                </div>
              </div>
            </div>
          </div>

          <p class="h3 bubble">Votre profil<span>3</span></p>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label class="control-label" for="avatar">
                  <b>Image de profil</b>
                </label>
                <br/>
                <input type="file" id="avatar" name="avatar" v-on:change="uploadFile($event, 'avatars')" ref="fileInput">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label class="control-label" for="cover">
                  <b>Image de couverture</b>
                </label>
                <br/>
                <input type="file" id="cover" name="cover" v-on:change="uploadFile($event, 'covers')" ref="fileInput">
              </div>
            </div>
            <label class="col-xs-12 col-sm-12 control-label required normal-weight" for="biographie">
              Ma bio...
              <div class="form-group">
                <textarea v-model="user.biographie" id="biographie" name="biographie" placeholder="Biographie: Parlez nous de vous en quelques mots" class="form-control new-form-inedits"></textarea>
              </div>
            </label>
          </div>

          <p class="title">
            <router-link :to="{name: 'cgu'}">
              Conditions générales d'utilisation
            </router-link>
          </p>
          <div class="form-group">
            <div class="form-group">
              <div id="fos_user_registration_form_gtu">
                <div class="checkbox">
                  <label for="gtu" class="">
                    <input v-model="user.cgu" required="required" type="checkbox" id="gtu" name="gtu" value="1"> j'ai lu et j'accepte les conditions générales d'utilisation
                  </label>
                </div>
              </div>
            </div>
          </div>

        <div class="g-recaptcha" :data-sitekey="cle_site"></div>
        <button class="btn btn-blue" type="submit">S'inscrire</button>
        <p class="h3 bubble"><span class="last">></span></p>
      </form>

      <p class="information">
        * Information obligatoire
        <br>
        <br>
        Vos données personnelles sont utilisées par la société Inédits, en tant que responsable de traitement, pour vous permettre d'utiliser nos sites et leurs fonctionnalités (création de compte, partage de vos contributions, etc.), de traiter vos commandes, et, le cas échéant, de rester en contact avec nous. Vous disposez d'un droit d'accès, de rectification, d'opposition et de suppression, ainsi que d'un droit à la limitation du traitement et d'un droit à la portabilité de vos données. Vous pouvez également nous fournir des directives sur le sort de vos données après votre décès
      </p>
    </div>
  </div>
</template>

<script lang="ts" src="./register.component.ts"></script>