<template>
  <div id="app">
    <notifications :closeOnClick="true" width="80%" position="top center" group="return-database" />
    <HeaderVue/>
    <main id="nav">
      <router-view></router-view>
    </main>
    <FooterVue/>
  </div>
</template>

<script lang="ts" src="./app.component.ts"></script>