.page-how-it-works {

  section {
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 2em;
    padding-bottom: 2em;
    overflow: hidden;

    .container {
      position: relative;
    }

    h3 {
      margin-bottom: .3em;

      &.bubble span{
        top: -2px;
      }

      a {
        color: $yellow;
        font-size: 27px;
      }
    }

    p {
      font-size: 15px;
      font-weight: 100;
      line-height: 1.7;
    }

    img {
      display: none;
      position: absolute;
    }

    &.account {
      background-color: #f6f6f6;
      /*padding-left: 90px;
      padding-bottom: 60px;
      padding-top: 100px;*/
    }

    &.story {
      /*padding-bottom: 200px;
      padding-top: 200px;*/
    }

    &.text {
      background-color: #f6f6f6;
      /*padding-bottom: 100px;
      padding-left: 90px;
      padding-top: 100px;*/
    }
  }

  .page-header {
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    line-height: 2;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;

    p:nth-child(1) {
      font-family: 'Droid serif', serif;
      font-size: 18px;
      font-weight: 100;
      max-width: 700px!important;
    }

    p {
      color: $dark-blue;
      font-size: 15px;
      font-weight: 100;
      max-width: 600px;
      margin: 1em auto;
    }
  }

  .cta {
    color: #fff;
    background-color: $yellow;
    text-align: center;
    padding: 2em;
    margin-top: 4em;
    margin-bottom: 4em;

    .cta-wrapper {
      max-width: 370px;
      margin: 0 auto;

      .h3 {
        font-size: 30px
      }

      p {
        font-size: 19px
      }
    }
  }

}


@media (min-width: 769px) {
  .page-how-it-works {
    section {
      img {
        display: block!important;
      }

      &.account {
        background-color: #f6f6f6;
        padding-left: 90px;
        padding-bottom: 60px;
        padding-top: 100px;

        img {
          bottom: -147px;
          right: -210px;
        }
      }

      &.story {
        padding-bottom: 200px;
        padding-top: 200px;

        img {
          bottom: -89px;
          left: -106px;
        }
      }

      &.text {
        background-color: #f6f6f6;
        padding-bottom: 100px;
        padding-left: 90px;
        padding-top: 100px;

        img {
          bottom: -62px;
          right: -210px;
        }
      }
    }
  }
}
