.page-pro {

    font-size: 15px;
    font-weight: 100;
    line-height: 1.7;

    .account {
        margin-bottom: 2em;
    }

    section {
        font-family: 'Source Sans Pro', sans-serif;
        overflow: hidden;

        .container {
            position: relative;
        }

        .h3 {
            margin-bottom: .3em;

            &.bubble span{
                top: -2px;
            }

            a {
                color: $yellow;
                font-size: 27px;
            }
        }

        img {
            display: none;
            position: absolute;
        }
    }

    .page-header {
        background-color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        line-height: 2;
        margin: 0;
        margin-bottom: 2em;
        padding-top: 2em;
        padding-bottom: 2em;

        p:nth-child(1) {
            font-family: 'Droid serif', serif;
            font-size: 18px;
            font-weight: 100;
            max-width: 700px!important;
        }

        p {
            color: $dark-blue;
            font-size: 15px;
            font-weight: 100;
            max-width: 600px;
            margin: 1em auto;
        }
    }
    .cta {
        color: #fff;
        background-color: $yellow;
        padding: 2em;
        margin-bottom: 2em;

        .h3 {
            margin-bottom: 1em;
        }

        .footer {
            text-align: right;
        }

        .cta-wrapper {
            max-width: 370px;
            margin: 0 auto;

            p {
                font-size: 19px
            }
        }
    }
}
