<template>
  <div class="profile">
    <coverVue :user="user" />

    <div class="container-fluid alert-container"></div>

    <div class="container margin">
      <div class="row">
        <div class="col-sm-3">
          <div class="user-sidebar">
            <avatarVue :user="user" class_style="user_avatar_m profile" />
            <router-link :to="{name: 'profile', params: {slug: user.slug}}" class="btn btn-primary btn-block">
              Retour profil
            </router-link>
          </div>
        </div>
        <div class="col-sm-9">
          <h1>{{ user.user.first_name + ' ' + user.user.last_name }}</h1>

          <form method="post" action="" enctype="multipart/form-data" @submit="changeInformation">
            <div class="panel panel-default">
              <div class="panel-heading">
                Informations personnelles
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <font-awesome-icon icon="user"/>
                        </span>
                        <input v-model="user.user.first_name" type="text" id="firstName" name="firstName" required="required" placeholder="Prénom" class="form-control" >
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <font-awesome-icon icon="user"/>
                        </span>
                        <input v-model="user.user.last_name" type="text" id="lastName" name="lastName" required="required" placeholder="Nom" class="form-control" >
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <font-awesome-icon icon="envelope"/>
                        </span>
                        <input v-model="user.user.email" type="email" id="email" name="email" required="required" placeholder="Adresse email" class="form-control" >
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label" for="avatarFile">
                        Image de profil
                      </label>
                      <input type="file" id="avatarFile" name="avatar" v-on:change="uploadFile($event, 'avatars')" ref="fileInput">
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="coverFile">
                        Image de couverture
                      </label>
                      <input type="file" id="coverFile" name="cover" v-on:change="uploadFile($event, 'covers')" ref="fileInput">
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <input class="btn btn-blue" type="submit" value="Mettre à jour">
              </div>
            </div>
          </form>

          <form method="post" action="" @submit="changePassword">
            <div class="panel panel-default">
              <div class="panel-heading">
                Sécurité
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                          <font-awesome-icon icon="unlock-alt"/>
                        </span>
                        <input v-model="password.current" type="password" id="current_password" name="current_password" required="required" placeholder="Ancien mot de passe" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <font-awesome-icon icon="lock"/>
                        </span>
                        <input v-model="password.password" type="password" id="password" name="password" required="required" placeholder="Nouveau mot de passe" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <font-awesome-icon icon="lock"/>
                        </span>
                        <input v-model="password.confirm_password" type="password" id="confirm_password" name="confirm_password" required="required" placeholder="Confirmation Mot de passe" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <input class="btn btn-blue" type="submit" value="Mettre à jour">
              </div>
            </div>

            <div class="panel panel-danger">
              <div class="panel-heading">
                Suppression
              </div>
              <div class="panel-body">
                <a class="btn btn-danger" href="mailto:webmaster@inedits.fr?subject=Inédits Suppression&amp;body=Expliquez nous la raison de votre demande de suppression">
                  Supprimer mon compte
                </a>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./profileEdit.component.ts"></script>