<template>
  <div class="profile">
    <coverVue :user="user" />

    <div class="container-fluid alert-container"></div>

    <div class="container margin">
      <div class="row">
        <div class="col-sm-3">
          <div class="user-sidebar">
            <avatarVue :user="user" class_style="user_avatar_m profile" />
              <router-link v-if="user.id == user.id" :to="{name: 'profile-edit', params: {slug: user.slug}}" class="btn btn-primary btn-block">
                Modifier mon profil
              </router-link>
            <ul v-if="user.isFilled('social')" class="nav nav-sidebar">
              <li v-if="user.facebook">
                <a target="_blank" :href="user.facebook">Facebook</a>
              </li>
              <li v-if="user.twitter">
                <a target="_blank" :href="user.twitter">Twitter</a>
              </li>
              <li v-if="user.website">
                <a target="_blank" :href="user.website">Site Web</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-9">
          <h1>{{ user.user.first_name + ' ' + user.user.last_name }}</h1>
          <section v-if="user.biographie" class="text-center">
            <header>
              Biographie
            </header>
            <p>{{ user.biographie }}</p>
          </section>
          <div v-if="user.isFilled('user')" class="row">
            <div v-if="user.favoriteAuthors" class="col-xs-12 col-sm-6">
              <section>
                <header>
                  Auteur(s) Préféré(e)s
                </header>
                <p>{{ user.favoriteAuthors }}</p>
              </section>
            </div>
            <div v-if="user.favoriteBook" class="col-xs-12 col-sm-6">
              <section>
                <header>
                  Livres préférés
                </header>
                <p>{{ user.favoriteBook }}</p>
              </section>
            </div>
            <div v-if="user.inspiration" class="col-xs-12 col-sm-6">
              <section>
                <header>
                  Inspiration du moment
                </header>
                <p>{{ user.inspiration }}</p>
              </section>
            </div>

            <div v-if="user.style" class="col-xs-12 col-sm-6">
              <section>
                <header>
                  Style d'écriture
                </header>
                <p>{{ user.style }}</p>
              </section>
            </div>

            <div v-if="user.favoriteGenre" class="col-xs-12 col-sm-6">
              <section>
                <header>
                  Style Genre(s) de prédilection
                </header>
                <p>{{ user.favoriteGenre }}</p>
              </section>
            </div>

            <div v-if="user.experience" class="col-xs-12 col-sm-6">
              <section>
                <header>
                  En quoi l'écriture le motive-t-elle ?
                </header>
                <p>{{ user.experience }}</p>
              </section>
            </div>

            <div v-if="post">
              <p class="h3">
                Dernière participation
              </p>

              <postBoxVue :post="post" />
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./profile.component.ts"></script>