<template>
  <div class="my-selection">
    <playerVue :message="$route.meta.pageSentence" />
    <div class="page-header">
      <div class="container">
        <p>Les textes sélectionnés <b>"{{parent.title}}"</b> </p>

        <router-link v-if="pdf.id" class="btn btn-primary" :to="{ name: 'pdfs' }">
          <font-awesome-icon icon="arrow-left"/>
          Retour
        </router-link>
        <router-link v-else class="btn btn-primary" :to="{ name: 'selections', params: { slug: parent.slug } }">
          <font-awesome-icon icon="arrow-left"/>
          Retour
        </router-link>

        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div id="editor">
              <form method="POST" @submit="createPDF">
                <p class="h3 bubble">Dernières modifications<span>1</span></p>

                <div id="editor">
                  <div class="form-group">
                    <input v-model:html="pdf.title" v-html="pdf.title" type="text" id="title" name="title" required="required" placeholder="Titre de la contribution" class="form-control">
                  </div>

                  <p class="danger-past-text">
                    Attention : Si vous copiez-collez votre contribution depuis un traitement de texte, il se peut que le formatage ne soit pas intégralement pris en compte, pour ne pas altérer l’impression finale.
                  </p>

                  <editor :apiKey="api_key" :init="config" v-model="pdf.text" id="content" name="content" class="wysiwyg form-control"></editor>

                </div>

                <button class="btn btn-blue btn-shadow-blue btn-post-add" type="submit">Transformer en PDF</button>
                <p class="h3 bubble"><span class="buble last">></span></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./selection_show.component.ts"></script>