<template>
  <div class="my-selection">
    <playerVue :message="$route.meta.pageSentence" />
    <div class="page-header">
      <div class="container">
        <p>Voici la sélection de <b>"{{parent.title}}"</b> vos textes à imprimer</p>
        <input id="slug" type="hidden" :value="parent.slug">
      </div>
    </div>
    <section class="account">
      <div class="container">

        <router-link class="btn btn-primary" :to="{ name: 'post_tree_show', params: { slug: parent.slug } }">
          <font-awesome-icon icon="arrow-left"/>
          Retour
        </router-link>

        <table class="table table-bordered table-striped table-selection">
          <thead>
            <tr>
              <th></th>
              <th>Titre</th>
              <th>Date</th>
              <th>Auteur</th>
              <th>Type</th>
              <th>Désélectionner</th>
            </tr>
          </thead>
          <!-- <draggable v-model="selections" tag="tbody" @sort="sortSelection" @start="drag=true" @end="drag=false"> -->
          <draggable tag="tbody" @sort="sortSelection" @start="drag=true" @end="drag=false">
            <tr v-for="selection in selections" :key="selection.id" :id="'selection_' + selection.id" data-toggle="tooltip" data-placement="top" title="Drag and Drop It">
              <td class="in-center">
                <font-awesome-icon icon="arrows-alt"/>
              </td>
              <td>{{selection.post.title}}</td>
              <td>{{getCreatedAt(selection.post.created_at, 'DD/MM/YYYY')}}</td>
              <td>{{fullName(selection.post.user_profile.user)}}</td>
              <td v-if="selection.post.file">Image</td>
              <td v-else>Texte</td>
              <td>
                <button v-on:click="deleteSelection(selection)" class="btn btn-danger btn-post-add" data-toggle="tooltip" data-placement="right" title="Déselectionner la contribution">
                  <font-awesome-icon icon="eraser"/>
                </button>
              </td>
            </tr>
          </draggable>
        </table>

        <router-link class="btn btn-primary" :to="{ name: 'selection_show', params: {slug: parent.slug, slug: parent.id}}">
          Document intégral
          <font-awesome-icon icon="arrow-right"/>
        </router-link>

      </div>
    </section>
  </div>
</template>

<script lang="ts" src="./selections.component.ts"></script>