<template>
  <div class="container">
    <div class="charte cgu">
      <p>
        Ensemble des règlements régissant la participation des internautes au site www.inedits.fr
        Les présentes conditions générales d’utilisation (les « Conditions Générales ») sont conclues entre la société INEDITS SAS, (ci-après « INEDITS » ou « Editions INEDITS ») et l’utilisateur du site https://inedits.fr/ (ci-après le « Site ») et des services proposés par INEDITS sur le Site (ci-après « l’Utilisateur »).
      </p>
      <p>
        Les sites Internet www.editionsinedits.com et www.inedits.fr sont la propriété des Éditions INEDITS en totalité, ainsi que l'ensemble des droits y afférents. Toute reproduction, intégrale ou partielle, est systématiquement soumise à l'autorisation préalable des propriétaires. INEDITS est une marque déposée auprès de l’INPI.   Édition et hébergement :
      </p>
      <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Édition et hébergement :</b></span></p>
      <p>
        Les sites Internet www.editionsinedits.com et www.inedits.fr sont édités par la société INEDITS dont les informations sont les suivantes :
      </p>
      <ul class="list-unstyled">
        <li>INEDITS</li>
        <li>5, rue Helder</li>
        <li>75009 PARIS</li>
        <li>Société par Actions Simplifiée</li>
        <li>SIREN : 809 537 160 RCS PARIS</li>
        <li>SIRET : 809 537 160</li>
        <li>CAPITAL : 1 000 euros</li>
        <li>Siège social : 5 rue du Helder 75009 PARIS (France)</li>
        <li>Numéro de TVA intra-communautaire : FR81 809 537 160</li>
        <li>Directeur de la publication : Florence Euverte</li>
        <li>Contact : contact@inedits.fr</li>
        <li>Le site est hébergé et maintenu par la société HAPPY DEV,  SAS à capital variable, domiciliée au 75, rue du Javelot 75013 – Paris, enregistrée au RCS Paris sous le numéro  81314060500011. </li>
      </ul>

      <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Objet des Conditions Générales :</b></span></p>
      <p>
        Les Conditions Générales ont pour objet l’accès, l’inscription, la consultation et l’utilisation du Site, en mode gratuit ou payant. Elles constituent un contrat entre l’Utilisateur du Site et INEDITS.
      </p>
      <p>
        Le simple accès au Site vaut acceptation sans réserve des Conditions Générales.
      </p>
      <p>
        INEDITS propose à l’Utilisateur, sur son site Internet accessible à l’adresse http://www.inedits.fr, différents services liés à la création littéraire collaborative en ligne. La plateforme numérique d’écriture collaborative développée par INEDITS se nomme les Arbres Inédits. Les Services sont présentés sur les pages du Site. Par Service(s), on entend, sans que cette liste soit limitative, les contenus proposés (ci-après « Contributions »), les éléments de mise en valeur des contenus, la mise à disposition d’outils, notamment l’outil de lecture et de soumission de contenus.
      </p>
      <p>
        <u>En mode libre et gratuit</u>, les Contributions mises en ligne par INEDITS sont publiques. INEDITS se réserve le droit d'ajouter, de supprimer ou de modifier tout ou partie des espaces des Services qu’elle propose ;  de mettre à jour, de modifier et/ou de supprimer tout ou partie des Services à tout moment et sans préavis. En tant qu’éditeur, INEDITS se réserve le droit d’accepter ou de refuser la mise en ligne des contenus proposés.
      </p>
      <p>
        <u>En mode payant</u>, l’accès au Site est privatisé, réservé à un groupe limité d’abonnés. Les Contributions sont mises en ligne par l’Utilisateur, à sa convenance.
      </p>
      <p>
        S’agissant des prestations liées à l’utilisation des Arbres d’Inédits, la livraison s’effectue par la remise d’identifiants et de mot de passe donnant accès à la plateforme. En plus de l’acceptation des CGU, des conditions particulières et/ou une commande seront signées séparément.
      </p>
      <p>
        La plateforme numérique d’écriture collaborative les Arbres d’Inédits relève du code de la propriété intellectuelle. Le code du logiciel développé par Inédits a été déposé à l’INPI .
      </p>
      <p>
        INEDITS est libre de modifier, à tout moment, les présentes CGU, afin notamment de prendre en compte toute évolution légale, réglementaire, jurisprudentielle et/ou technique.
      </p>
      <p>
        L’Utilisateur confirme donc avoir lu et compris l’intégralité des présentes Conditions Générales avant toute utilisation des Services. L’Utilisateur s’engage à respecter les présentes Conditions Générales. Tout Utilisateur est donc tenu de se référer à leur version accessible en ligne à la date de son accès et de son utilisation des Services.
      </p>
      <p>
        Les Conditions Générales constituent l’intégralité du contrat passé entre l’Utilisateur et INEDITS et le cas échéant, annulent et remplacent l’ensemble des contrats, négociations, et autres accords antérieurs entre l’Utilisateur et INEDITS.
      </p>
      <p>
        INEDITS propose également des conditions particulières complémentaires relatives à certains Services spécifiques, qui doivent être acceptées par l’Utilisateur s’il souhaite avoir accès aux dits Services.
      </p>

      <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Accès aux Services</b></span></p>
      <p style="color: #b51a00;"><em><span style="color: rgb(0, 0, 0);"><b>Accès libre et gratuit :</b></span></em></p>
      <p>Seules les personnes ayant ouvert un compte d’abonné utilisateur (ci-après dénommé le « Compte » ou « Compte Utilisateur ») et, pour ce faire, dûment rempli le formulaire comportant toutes les informations obligatoires (matérialisées par un astérisque) demandées par INEDITS et ayant consenti sans réserve aux présentes Conditions Générales peuvent utiliser les Services soumis à un accès. Ces services sont notamment les suivants :</p>
      <p>Possibilité d’accéder aux arbres d’INEDITS en lecture (ci-après les « Arbres d’INEDITS »). Les Arbres Inédits résultent d’un programme informatique original, propriété exclusive d’INEDITS, constituant un réseau social d’écriture collaborative. Un début d’histoire est mis en ligne sur le Site par l’éditeur et l’Utilisateur est invité à s’inscrire sur le Site afin d’écrire la suite de l’histoire et apporter ses Contributions aux Arbres, qui seront soumises à validation par INEDITS. INEDITS appréciera discrétionnairement les Contributions qui seront publiées sur le Site. Les Contributions des Utilisateurs formeront des arborescences accessibles dans la rubrique « Les arbres Inédits » sur le Site. Voir article 7 ci-après sur la mise en ligne des Contributions ;   </p>
      <ul>
        <li>Possibilité de proposer à INEDITS des contributions aux arbres d’INEDITS, sous forme de suites possibles aux histoires en cours ;</li>
        <li>Configuration du profil ;</li>
        <li>Participation à d’éventuels jeux-concours ;</li>
        <li>Réception éventuelle d’alertes et de newsletters par email ;</li>
      </ul>
      <p>Cette inscription peut s’effectuer soit par le Site, soit, le cas échéant, selon d’autres modalités proposées par INEDITS, et notamment par l’utilisation d’outils nomades (dont les téléphones portables).</p>
      <p>INEDITS peut créer des nouveaux services soumis à un accès et/ou décider qu’un service en accès libre sera soumis à un accès privé/payant.</p>

      <p style="color: #b51a00;"><em><span style="color: rgb(0, 0, 0);"><b>Accès payant :</b></span></em></p>
      <p>L’Utilisateur peut s’il le souhaite passer commande d’un accès privatisé aux Arbres Inédits, pour bénéficier d’une prestation d’écriture collaborative/co-créative au service d’un groupe particulier, dans le cadre d’un projet personnel ou professionnel. Pour constituer ce groupe, il invitera les participants de son choix et assumera la responsabilité d’organisateur/modérateur.</p>
      <p>Deux offres payantes sont proposées :</p>
      <ul>
      <li>Des « packs » standard </li>
      <li>Des prestations personnalisées</li>
      </ul>
      <p>Pour les cas de prestations personnalisées relatives aux Arbres d’Inédits (hors Packs), l’Utilisateur prendra contact avec les Editions INEDITS (voir <a href="https://editionsinedits.com/contact/">Formulaire de contact</a>) et pourra faire la demande d’informations complémentaires, de négociations, d’estimations, d’un devis avant paiement, d’un contrat. </p>

      <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Ouverture d’un Compte Abonné  (inscription de l’Utilisateur)</b></span></p>
      <p>L’Utilisateur est amené à communiquer à INEDITS des informations personnelles, qui permettront ensuite de l’identifier et de faciliter l’accès sécurisé au Site et aux Services et l’utilisation des Services.</p>
      <p>L’Utilisateur doit ainsi communiquer : nom, prénom, adresse électronique.</p>
      <p>Lorsque l’Utilisateur remplit le formulaire d’inscription, il s’engage à le remplir correctement, et notamment à ne communiquer que des informations exactes, à jour et complètes.</p>
      <p>L’inscription entraîne l’acceptation expresse et sans réserve par l’Utilisateur des présentes Conditions Générales matérialisée par le « cochage » obligatoire de la case d’acceptation des Conditions Générales <b>« J’ai lu et j’accepte l’ensemble les Conditions Générales d’Utilisation »</b>.</p>
      <p>En cliquant sur le bouton « J’ai lu et j’accepte les Conditions Générales d’Utilisation », l'Utilisateur reconnaît qu'il a la capacité juridique pour conclure une telle convention ou qu'il dispose de l'autorisation de la personne habilitée. Si l’Utilisateur a moins de 15 ans, il lui est expressément demandé de fournir une autorisation parentale, à envoyer scannée à l’adresse suivante : clemence@inedits.fr</p>

      <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Identifiants et mot de passe :</b></span></p>
      <p>Lors de son inscription, l’Utilisateur est amené à rentrer son adresse email servant à l’identifier (l’ « Identifiant de Connexion ») et à permettre une connexion plus rapide lors de l’utilisation des Services ainsi qu’à choisir un mot de passe d'au moins quatre caractères alphanumériques (le « Mot de Passe »).</p>
      <p>L’Utilisateur est seul responsable de l’utilisation et de la confidentialité de son Identifiant de Connexion.</p>
      <p>L’Utilisateur accepte que sur le Site son identité ou Identifiant de Connexion  soient accessibles publiquement, et les conséquences attachées, notamment le fait que certains moteurs de recherche puissent les indexer, sans que la responsabilité d’INEDITS puisse être engagée.</p>
      <p>Le Mot de Passe est personnel et confidentiel. L’Utilisateur en est seul responsable. Pour garantir la sécurité de son Compte, l’Utilisateur s’engage à ce qu’INEDITS puisse facilement entrer en contact avec l’Utilisateur, pour quelque raison que ce soit, via son adresse courriel.</p>
      <p>L’Utilisateur est seul responsable de l’utilisation de son Compte. Toute connexion ou transmission d’ordres ou de données effectuée au moyen de son Mot de Passe sera réputée avoir été effectuée par lui-même et sous sa responsabilité exclusive.</p>
      <p>En cas d’oubli du Mot de Passe, l’Utilisateur le signale sur la page d’ouverture du Site en cliquant sur la rubrique « Mot de passe oublié ? ». Dans ce cas, l’Utilisateur doit renseigner son Identifiant de Connexion et recevra à l’adresse électronique renseignée lors de son inscription un courriel lui permettant de saisir un nouveau mot de passe.</p>

      <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Protection des données à caractère personnel</b></span></p>
      Lors de votre utilisation du Site, les Éditions INEDITS sont amenées à prendre connaissance et à collecter vos données à caractère personnel, et, sous réserve de vos choix, déposer des cookies, ou technologies similaires. Pour plus d’informations, consultez notre <a href="https://www.editionsinedits.com/politique-de-donnees-personnelles/">Politique de protection des données personnelles</a> qui fait partie intégrante des présentes Conditions Générales et doit être lue conjointement à celles-ci.

      <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Fourniture et Utilisation des Services</b></span></p>
      <p>INEDITS fournit les Services en l’état, et n’accorde aucune garantie à cet égard. En particulier, INEDITS ne prend pas d’engagement de disponibilité d’accès. Compte tenu notamment des aléas techniques liés au fonctionnement décentralisé du réseau Internet, INEDITS ne fournit aucune garantie de continuité de service ou d’absence d’erreurs de ces Services. En particulier, INEDITS ne garantit pas que l’utilisation des Services répondra aux besoins de l’Utilisateur ; que l’utilisation faite des Services par l’Utilisateur sera ininterrompue, opportune, sécurisée ou exempte d’erreurs ; que toute information obtenue en utilisant les Services sera exacte ou fiable ; que les défauts dans le fonctionnement ou les fonctionnalités de tout logiciel qui aura été fourni à l’Utilisateur dans le cadre des Services seront corrigés.</p>
      <p>INEDITS ne garantit pas que l’accès à tout ou partie des Services demeure gratuit pendant une durée indéfinie. En cas de modification d’un service gratuit en un service payant, des Conditions Spécifiques d’Utilisation seront proposés à l’Utilisateur au préalable, ou le cas échéant de nouvelles Conditions Générales d’Utilisation. L’Utilisateur qui cochera alors l’acceptation des nouvelles conditions s’engagera, le cas échéant, à régler l’ensemble des frais et taxes applicables qui lui incomberont au titre des opérations réalisées via son Compte Utilisateur.</p>
      <p>Suite à l’instauration de prestations payantes pour un accès privatisé aux Arbres Inédits, sans lien avec l’accès libre et gratuit, INEDITS propose des Conditions Spécifiques d’Utilisation. </p>
      <p>Tous les contenus accessibles sur le site ne peuvent en aucun cas être repris à d’autres fins que la consultation par les utilisateurs du site ; INEDITS engagera toute action appropriée contre toute reprise quelconque effectuée en violation des droits de propriété intellectuelle.</p>

      <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Propriété intellectuelle – Parasitisme – interdiction d’utilisation des données – Protection du Site :</b></span></p>
      <p>Toute utilisation des informations, données et des éléments du Site et des Services, à quelque titre que ce soit en dehors de la simple consultation directe sur le Site par l’utilisateur, est strictement interdite, sauf autorisation préalable et par écrit d’INEDITS.</p>
      <p>En aucun cas l’accès possible aux informations du Site et à certaines données ne peut permettre à l’utilisateur de considérer qu’il peut extraire, de manière substantielle ou non, et/ou utiliser en dehors de la consultation du Site, une quelconque donnée du Site ou de tout élément du Site. Il est rappelé que de telles extractions et/ou utilisations sont strictement interdites.</p>
      <p>Toute reproduction et/ou représentation, totale ou partielle, sur un quelconque support, des signes distinctifs présentés sur le Site, y compris les informations et/ou données, sans l’autorisation écrite préalable d’INEDITS, de ses partenaires ou de tiers, est interdite et constitutive notamment de contrefaçon et susceptible à ce titre d’engager la responsabilité civile et pénale de son auteur.</p>
      <p>L’utilisation des Contributions ou contenus mis en ligne par INEDITS est autorisée à condition qu’aucune modification ne soit apportée et qu’elle se fasse à des fins personnelles ou d’information et non à des fins commerciales. L’utilisation des Contributions à toute autre fin est strictement prohibée. Toute personne contrevenante se rend coupable du délit de contrefaçon et est passible des sanctions civiles et pénales prévues par la loi.</p>
      <p>Si l’Utilisateur souhaite utiliser dans un autre cadre, et/ou diffuser des données, informations et/ou des services du Site, il devra contacter INEDITS.</p>

      <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Mise en ligne des Contributions soumises par l’Utilisateur aux éditions INEDITS </b></span></p>
      <p style="color: #b51a00;"><em><span style="color: rgb(0, 0, 0);"><b>Sur les fonctionnalités relatives aux Services et notamment aux Arbres INEDITS</b></span></em></p>
      <p>Les Arbres INEDITS sont la propriété exclusive d’INEDITS. Sous peine de poursuites civiles et/ou pénales, il est interdit à quiconque de : </p>
      <ul>
        <li>représenter, reproduire, modifier, publier, adapter sur quelque support que ce soit, par quelque moyen que ce soit, l’ensemble des éléments présents sur le Site et les Services, en ce compris les Arbres INEDITS ;</li>
        <li>procéder à une quelconque atteinte aux systèmes informatisés mis en œuvre pour la fourniture des Services (y incluant les Arbres INEDITS), en ce compris toute intrusion ou tentative d’intrusion ;</li>
        <li>procéder à une quelconque opération d’ingénierie inversée de tout ou parties des Services, en ce compris les Arbres INEDITS ; </li>
        <li> compiler, décompiler ou désassembler tout ou partie des Services, en ce compris les Arbres INEDITS ;</li>
        <li>modifier ou créer des programmes développés sur tout ou partie des Services, en ce compris les Arbres INEDITS, y compris pour corriger les éventuelles erreurs, seule INEDITS étant habilitée à effectuer les corrections éventuelles ;</li>
        <li>distribuer et/ou diffuser des copies de tout ou partie des Services, en ce compris les Arbres INEDITS ;</li>
        <li>revendre, louer, sous-louer ou transférer de quelque manière que ce soit à un tiers les Services, en ce compris les Arbres INEDITS.</li>
      </ul>
      <p>Toutes les Contributions proposées par les abonnés sont soumises à validation par INEDITS avant leur publication en ligne dans le cadre des « Arbres INEDITS ». L’éditeur prendra en compte la qualité littéraire des contenus proposés comme leur pertinence dans le suivi de l’arborescence.</p>
      <p>INEDITS ne pourra garantir la confidentialité des Contributions et n’est pas tenu à une obligation de confidentialité à l’égard des Contributions. Dès lors qu’elles sont publiées sur décision d’INEDITS, les Contributions sont considérées comme non confidentielles et non propriétaires. INEDITS ne saurait être tenu responsable d’une utilisation ou divulgation des Contributions quelles qu’elles soient. </p>
      <p>Les Contributions doivent être conformes aux lois, ne pas être contraires  à l'ordre public, aux réglementations en vigueur, et être libres de tout droit. L’Utilisateur déclare et garantit que sa Contribution est rédigée de sa main ou par son intermédiaire, qu’il en est le seul auteur, qu’il est autorisé à diffuser et publier une telle Contribution. </p>
      <p>L’Utilisateur déclare et garantit que la publication et l’utilisation de sa Contribution sur le Site n’enfreint pas les droits de tiers, y compris, sans que cela soit limitatif, les droits au respect de la vie privée, et les droits de propriété intellectuelle. </p>
      <p>En cas d’infraction de l’Utilisateur aux dispositions qui précèdent, INEDITS ne saurait être tenu pour responsable de la Contribution publiée sur le Site. Si la Contribution enfreint les présentes Conditions Générales, il en sera seul responsable. </p>
      <p>Seront donc refusés, sans que cela soit limitatif :</p>
      <ul>
        <li>Les textes proposés comme suite mais sans rapport avec la contribution à laquelle l’Utilisateur indique les rattacher ;</li>
        <li>Les textes constitutifs de l’une des infractions prévues par le chapitre IV de la loi du 29 juillet 1881 sur la liberté de la presse, portant sur les crimes et les délits commis par la voie de la presse ou par tout autre moyen de communication. </li>
      </ul>
      <p>Les textes déjà soumis à un droit d’auteur ou de propriété intellectuelle.</p>
      <p>L’Utilisateur s’engage également à ne pas collecter, stocker et diffuser des données personnelles afférentes aux autres Utilisateurs ou à tout tiers ; perturber ou tenter de perturber le bon fonctionnement des Services.</p>
      <p>Chaque Contribution soumise par l’Utilisateur aux éditions INEDITS devra porter un titre qui l’identifie. L’Utilisateur recevra un mail les informant de la décision de l’éditeur concernant sa ou ses contribution(s). Trois réponses seront possibles : refusé, accepté, à corriger (dans ce cas les éléments à modifier seront précisés). </p>
      <p>Les Services du site pourront prévoir des fonctionnalités telles que des forums de discussion dans lesquels l’Utilisateur pourra le cas échéant publier du « contenu utilisateur ».</p>
      <p>Si un Utilisateur tient à garder une idée ou une information secrète et/ou qu’il ne souhaite pas la voir utilisée par d’autres, il lui incombe de ne pas la soumettre à INEDITS. Si l’Utilisateur soumet à INEDITS des suggestions, des propositions, des commentaires ou d’autres éléments dans le cadre des Services du site, et que ceux-ci sont validés par INEDITS, INEDITS pourra les mettre en ligne et les utiliser à toutes fins utiles, sans compensation ni rémunération.</p>

      <p style="color: #b51a00;"><em><span style="color: rgb(0, 0, 0);"><b>Sur la propriété intellectuelle relative aux Contributions publiées sur le Site</b></span></em></p>
      <p>L’Utilisateur conserve le droit moral attaché à sa Contribution, dès lors que celle-ci est considérée comme originale. L’Utilisateur concède à INEDITS et aux autres Utilisateurs et internautes du Site un droit d’utilisation sur ses Contributions aux fins exclusives de consultation privée desdites Contributions. </p>
      <p>Le site www.inedits.fr site offre une vitrine de qualité aux auteurs. Les éditions INEDITS ont la possibilité de prendre l’initiative d’œuvres résultant de compositions de Contributions. Si cette opportunité se présente, INEDITS en déterminera l’objet et les thèmes, sélectionnera les Contributions en vue de les assembler. </p>
      <p>Si les éditions INEDITS souhaitent publier une histoire aboutie sous la forme d’un recueil collectif ou individuel, imprimé et /ou numérique, issue des Arbres d’INEDITS et comprenant les Contributions d’Utilisateurs différents, un contrat à compte d’éditeur pourra être conclu entre les différentes parties, distinct des présentes Conditions Générales. </p>

      <p style="color: #b51a00;">
        <span style="color: rgb(0, 0, 0);">
          <b>Sanctions en cas de non-respect des Conditions Générales</b>
        </span>
      </p>
      <p>
        En cas de violation par l’Utilisateur de l’une quelconque des dispositions des Conditions Générales, INEDITS se réserve le droit de suspendre temporairement ou définitivement, sans aucun avertissement préalable et à sa seule discrétion, l’accès et l’utilisation du Compte Utilisateur, du Site et des Services, sans dédommagement.
      </p>
      <p>
        Par ailleurs, INEDITS dispose de la faculté de suspendre l’accès au Compte Utilisateur et l’utilisation des Services à tout moment.
      </p>

      <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);">
        <b>Publication de commentaires : charte et modération</b></span>
      </p>
      <p>
        <b>La fonction de publication de commentaires et de « chat » n’est pas opérationnelle à ce jour. Si INEDITS prend la décision de la mettre en œuvre, les conditions suivantes seront applicables : </b>
      </p>
      <p>
        L’Utilisateur est responsable des commentaires et critiques qu’il adresse au site INEDITS ; il est tenu au respect des dispositions légales et réglementaires en vigueur, en particulier celles qui répriment les abus de la liberté d’expression.
      </p>
      <p>
        Il veille à ce que ses commentaires et critiques ne comportent pas, notamment :
      </p>
      <ul>
        <li>
          de propos à caractère raciste, xénophobe, antisémite, homophobe, négationniste, pornographique, pédophile, pédopornographique, zoophile…
        </li>
        <li>
          de propos injurieux, irrespectueux, vulgaires, agressifs, diffamatoires, ou portant atteinte à la vie privée, et plus généralement aux droits de la personnalité de quiconque
        </li>
        <li>
          de propos portant atteinte à la dignité humaine, à l’usurpation d’identité
        </li>
        <li>
          de propos incitant à la violence, meurtre, viol, au suicide, au terrorisme, à la prostitution, à l’utilisation, la fabrication ou la distribution de substances illicites…
        </li>
        <li>
          de propos incitant à la commission de crimes ou de délits ou qui en font l’apologie et plus particulièrement les crimes contre l’humanité
        </li>
        <li>
          de contenus violant les droits de respect de la vie privée, de propriété intellectuelle de tiers (notamment articles, ouvrages), pour lesquels il ne dispose pas des autorisations nécessaires des auteurs et/ou ayants droit et en faisant l’apologie du piratage, peer-to-peer, streaming, torrents ou lien/url de téléchargement</li>
        <li>
          de contenus faisant la promotion de services à but lucratif
        </li>
      </ul>
      <p>
        Il est également rappelé à l’utilisateur que si son commentaire ou sa critique présente un caractère illicite, les données permettant de l’identifier ou d’identifier son ordinateur pourront être communiquées par les hébergeurs du site INEDITS à l’autorité judiciaire, si cette dernière le requiert, conformément à l’article 6-II de la loi du 21 juin 2004.
      </p>
      <p>
        Le site INEDITS permet de confronter des opinions sur des contributions d’Utilisateurs mais n’est pas un site de rencontre. Les utilisateurs peuvent réagir aux commentaires mis en ligne, mais il leur est demandé d’éviter toute invective, interpellation ou sollicitation. Tout échange ou contact direct entre deux utilisateurs sera, le cas échéant, de la seule responsabilité de ces derniers. En aucun cas INEDITS ne pourra être poursuivi ni sa responsabilité recherchée du fait d’un échange ou contact direct entre utilisateurs.
      </p>
      <p>
        L’utilisation du site INEDITS par les personnes mineures se fait sous la responsabilité et la surveillance de leurs parents et/ou responsables légaux, sous réserve expresse d’une autorisation parentale.
      </p>
      <p>
        INEDITS met à disposition de l’utilisateur un lien « signaler un abus » lui permettant de signaler les abus sur les textes mis en ligne, commentaires et critiques pouvant être considérés comme non conformes aux présentes conditions générales d’utilisation ou à la loi. INEDITS sera libre des suites données à cette alerte. Il sera par conséquent libre de retirer un commentaire ou une critique qu’il estime non conforme aux présentes conditions générales d’utilisation ou à la loi, et ceci sans formalité ni avertissement préalable.
      </p>
      <p>
        L’équipe de modération d’INEDITS examine les commentaires et critiques reçus. INEDITS est libre de publier ou non les commentaires et les critiques de son choix, ce choix étant entièrement discrétionnaire.
      </p>
    </div>
  </div>
</template>

<script lang="ts" src="./cgu.component.ts"></script>