<template>
  <header>
    <nav class="navbar navbar-expand navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#header-menu" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>
          <router-link class="navbar-brand" to="/">
            <img class="img-responsive" alt="Inedits" width="60" height="60" src="@/assets/images/home-logo.jpg">
          </router-link>
        </div>
        <div v-if="user && user.user" class="dropdown nav navbar-nav navbar-right connected">
          <a id="dropdownMenuButton" href="#" role="button" data-toggle="dropdown">
            <avatarVue :user="user" class_style="rounded-circle user_avatar_xs" :show_name="true" />
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <router-link class="dropdown-item" to="/dashboard"> Dashboard </router-link>
            <router-link class="dropdown-item" :to="{name: 'profile', params: {slug: user.slug}}"> Profile </router-link>
            <a class="dropdown-item" href="#" v-on:click="logOut()"> Déconnexion </a>
          </div>
        </div>

        <ul v-if="!user || !user.user" class="nav navbar-nav navbar-right">
          <li>
            <router-link class="btn btn-grey btn-shadow-grey" to="/login">
              Connexion
            </router-link>
          </li>
          <li>
            <a class="btn btn-yellow btn-shadow-yellow" href="/register">
              Inscription
            </a>
          </li>
        </ul>

        <div class="collapse navbar-collapse" id="header-menu">
          <ul class="nav navbar-nav navbar-left">
            <li class="" v-for="menu in menus" v-if="menu.show">
              <router-link :to="{name: menu.url}"> {{menu.name}} </router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>

<script lang="ts" src="./header.component.ts"></script>