<template>
  <div class="jumbotron home-player text-center">
    <div class="container">
      <!-- <img src="@/assets/images/home/home-header.jpg"> -->
      <div class="homepage-content">
        <h1>Les Arbres Inédits</h1>
        <p>VOUS AVEZ ENVIE D’ÉCRIRE UN LIVRE ?</p>
        <p>Si vous voulez vivre cette aventure avec d’autres,</p>
        <p>en famille, entre amis,</p>
        <p>dans un cadre pédagogique ou professionnel</p>
        <p>NOTRE CONCEPT ORIGINAL RÉPONDRA À VOS ATTENTES !</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./home.component.ts"></script>