<template>
  <div class="user-login">
    <playerVue :message="$route.meta.pageSentence" />
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="thumbnail login">
            <div class="caption">
              <form method="post" @submit="logIn">
                <input v-model="login.token" type="hidden" name="_csrf_token" value="csrf_token_django" />

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <font-awesome-icon icon="at"/>
                    </span>
                    <input v-model="login.username" class="form-control" type="text" id="username" name="_username" value="" required="required" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <font-awesome-icon icon="lock"/>
                    </div>
                    <input v-model="login.password" class="form-control" type="password" id="password" name="_password" required="required" />
                  </div>
                </div>

                <div class="form-group">
                  <input v-model="login.remember_me" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                  <label for="remember_me"><b>Se souvenir de moi</b></label>
                </div>

                <input class="btn btn-blue btn-shadow-blue" type="submit" id="_submit" name="_submit" value="Connexion" />
              </form>
              <hr>
              <router-link to="/resetting/request">Réinitialiser mon mot de passe</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./login.component.ts"></script>