<template>
  <div class="container">
    <div class="letter-box">
      <form action="" method="POST" class="fos_user_resetting_request">
        <div class="form-group">
          <label class="h3" for="username">Votre adresse email</label>
          <input class="form-control" type="text" id="username" name="username" required="required" />
        </div>
        <div>
          <input class="btn btn-blue" type="submit" value="Réinitialiser le mot de passe" />
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts" src="./reset.component.ts"></script>