<template>
  <div>
    <img v-if="!user.avatar" :class="class_style" src="@/assets/images/avatar/avatar.jpg" :alt="user.user.username" />
    <img v-if="user.avatar" :class="class_style" :src="user.avatar" :alt="user.slug" />
    <span v-if="show_name" class="dropdown-toggle">
      {{ user.user.first_name }}
      <!-- <font-awesome-icon icon="caret-down"/> -->
    </span>
  </div>
</template>

<script lang="ts" src="./_avatar.component.ts"></script>