<template>
    <div class="jumbotron user-cover">
      <img v-if="!user.cover" class="img-responsive" src="@/assets/images/cover/cover.jpg" :alt="user.slug">
      <img v-if="user.cover" class="img-responsive" :src="user.cover" :alt="user.slug">
  </div>
</template>

<script lang="ts" src="./_cover.component.ts"></script>