<template>
  <div class="jumbotron default">
    <div class="absolute-center">
      <div class="container">
        <h1>{{ message }}</h1>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./_player.component.ts"></script>